In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
path = r"C:\Users\Admin\Desktop\delivery logistics.csv"

In [5]:
data = pd.read_csv(path)

In [6]:
data

,delivery_id,delivery_partner,package_type,vehicle_type,delivery_mode,region,weather_condition,distance_km,package_weight_kg,delivery_time_hours,expected_time_hours,delayed,delivery_status,delivery_rating,delivery_cost
0,250.99,delhivery,automobile parts,bike,same day,west,clear,297.0,46.96,00:00.0,00:00.0,no,delivered,3,1632.7206
1,250.99,xpressbees,cosmetics,ev van,express,central,cold,89.6,47.39,00:00.0,00:00.0,no,delivered,5,640.1700
2,250.99,shadowfax,groceries,truck,two day,east,rainy,273.5,26.89,00:00.0,00:00.0,no,delivered,4,1448.1700
3,250.99,dhl,electronics,ev van,same day,east,cold,269.7,12.69,00:00.0,00:00.0,no,delivered,3,1486.5700
4,250.99,dhl,clothing,van,two day,north,foggy,256.7,37.02,00:00.0,00:00.0,no,delivered,4,1394.5600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24750.01,dhl,furniture,scooter,two day,east,foggy,80.7,3.65,00:00.0,00:00.0,no,delivered,5,414.4500
24996,24750.01,ecom express,automobile parts,ev van,standard,west,clear,172.9,21.42,00:00.0,00:00.0,no,delivered,5,928.7600
24997,24750.01,ekart,clothing,scooter,same day,east,rainy,168.4,4.85,00:00.0,00:00.0,yes,delayed,2,956.5500
24998,24750.01,shadowfax,documents,ev van,standard,west,stormy,37.2,8.04,00:00.0,00:00.0,no,delivered,5,210.1200
24999,24750.01,blue dart,pharmacy,ev bike,two day,central,rainy,279.3,5.06,00:00.0,00:00.0,no,delivered,3,1411.6800

In [7]:
from sqlalchemy import create_engine
server = r'DESKTOP-DVCTLQ2\SQLEXPRESS'  
database = 'meanlifestudies'   
username = 'mahendra204'        
password = '9441766728'     
driver = 'ODBC Driver 17 for SQL Server'  # Ensure this driver is installed

connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}"
engine = create_engine(connection_string)

data.to_sql('delivery_logistics', engine, if_exists='replace', index=False)
print("Data successfully loaded to SQL Server!")

Data successfully loaded to SQL Server!

In [8]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_schema_names())   # schemas in current DB
print(inspector.get_table_names())    # tables in default schema

['db_accessadmin', 'db_backupoperator', 'db_datareader', 'db_datawriter', 'db_ddladmin', 'db_denydatareader', 'db_denydatawriter', 'db_owner', 'db_securityadmin', 'dbo', 'guest', 'INFORMATION_SCHEMA', 'sys']
['crypto_prices', 'customer_state_log', 'customers', 'delivery_logistics', 'emp_details', 'employee_schedule', 'employees', 'gruped_delivery_logistics_data', 'matches', 'old_data', 'sales_details', 'transactions', 'updated_data', 'user_state_log']

In [9]:
from sqlalchemy import create_engine, text
with engine.connect() as conn:
    print([row[0] for row in conn.execute(text("SELECT name FROM sys.databases"))])

['master', 'tempdb', 'model', 'msdb', 'uday_uk', 'abhi_usa', 'edf', 'AdventureWorks2016', 'Meanlifestudies', 'e_commerce', 'irctc_dwh', 'projects']

In [10]:
query = "SELECT * FROM delivery_logistics"
df = pd.read_sql(query, engine)

In [11]:
df

,delivery_id,delivery_partner,package_type,vehicle_type,delivery_mode,region,weather_condition,distance_km,package_weight_kg,delivery_time_hours,expected_time_hours,delayed,delivery_status,delivery_rating,delivery_cost
0,250.99,delhivery,automobile parts,bike,same day,west,clear,297.0,46.96,00:00.0,00:00.0,no,delivered,3,1632.7206
1,250.99,xpressbees,cosmetics,ev van,express,central,cold,89.6,47.39,00:00.0,00:00.0,no,delivered,5,640.1700
2,250.99,shadowfax,groceries,truck,two day,east,rainy,273.5,26.89,00:00.0,00:00.0,no,delivered,4,1448.1700
3,250.99,dhl,electronics,ev van,same day,east,cold,269.7,12.69,00:00.0,00:00.0,no,delivered,3,1486.5700
4,250.99,dhl,clothing,van,two day,north,foggy,256.7,37.02,00:00.0,00:00.0,no,delivered,4,1394.5600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24750.01,dhl,furniture,scooter,two day,east,foggy,80.7,3.65,00:00.0,00:00.0,no,delivered,5,414.4500
24996,24750.01,ecom express,automobile parts,ev van,standard,west,clear,172.9,21.42,00:00.0,00:00.0,no,delivered,5,928.7600
24997,24750.01,ekart,clothing,scooter,same day,east,rainy,168.4,4.85,00:00.0,00:00.0,yes,delayed,2,956.5500
24998,24750.01,shadowfax,documents,ev van,standard,west,stormy,37.2,8.04,00:00.0,00:00.0,no,delivered,5,210.1200
24999,24750.01,blue dart,pharmacy,ev bike,two day,central,rainy,279.3,5.06,00:00.0,00:00.0,no,delivered,3,1411.6800

In [12]:
df.drop('delivery_time_hours', axis = 1, inplace=True)

In [13]:
df

,delivery_id,delivery_partner,package_type,vehicle_type,delivery_mode,region,weather_condition,distance_km,package_weight_kg,expected_time_hours,delayed,delivery_status,delivery_rating,delivery_cost
0,250.99,delhivery,automobile parts,bike,same day,west,clear,297.0,46.96,00:00.0,no,delivered,3,1632.7206
1,250.99,xpressbees,cosmetics,ev van,express,central,cold,89.6,47.39,00:00.0,no,delivered,5,640.1700
2,250.99,shadowfax,groceries,truck,two day,east,rainy,273.5,26.89,00:00.0,no,delivered,4,1448.1700
3,250.99,dhl,electronics,ev van,same day,east,cold,269.7,12.69,00:00.0,no,delivered,3,1486.5700
4,250.99,dhl,clothing,van,two day,north,foggy,256.7,37.02,00:00.0,no,delivered,4,1394.5600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24750.01,dhl,furniture,scooter,two day,east,foggy,80.7,3.65,00:00.0,no,delivered,5,414.4500
24996,24750.01,ecom express,automobile parts,ev van,standard,west,clear,172.9,21.42,00:00.0,no,delivered,5,928.7600
24997,24750.01,ekart,clothing,scooter,same day,east,rainy,168.4,4.85,00:00.0,yes,delayed,2,956.5500
24998,24750.01,shadowfax,documents,ev van,standard,west,stormy,37.2,8.04,00:00.0,no,delivered,5,210.1200
24999,24750.01,blue dart,pharmacy,ev bike,two day,central,rainy,279.3,5.06,00:00.0,no,delivered,3,1411.6800

In [14]:
df.columns

Index(['delivery_id', 'delivery_partner', 'package_type', 'vehicle_type',
       'delivery_mode', 'region', 'weather_condition', 'distance_km',
       'package_weight_kg', 'expected_time_hours', 'delayed',
       'delivery_status', 'delivery_rating', 'delivery_cost'],
      dtype='object')

In [15]:
df.drop('expected_time_hours', axis = 1, inplace = True)

In [16]:
df.columns

Index(['delivery_id', 'delivery_partner', 'package_type', 'vehicle_type',
       'delivery_mode', 'region', 'weather_condition', 'distance_km',
       'package_weight_kg', 'delayed', 'delivery_status', 'delivery_rating',
       'delivery_cost'],
      dtype='object')

In [17]:
df.shape

(25000, 13)

In [18]:
df

,delivery_id,delivery_partner,package_type,vehicle_type,delivery_mode,region,weather_condition,distance_km,package_weight_kg,delayed,delivery_status,delivery_rating,delivery_cost
0,250.99,delhivery,automobile parts,bike,same day,west,clear,297.0,46.96,no,delivered,3,1632.7206
1,250.99,xpressbees,cosmetics,ev van,express,central,cold,89.6,47.39,no,delivered,5,640.1700
2,250.99,shadowfax,groceries,truck,two day,east,rainy,273.5,26.89,no,delivered,4,1448.1700
3,250.99,dhl,electronics,ev van,same day,east,cold,269.7,12.69,no,delivered,3,1486.5700
4,250.99,dhl,clothing,van,two day,north,foggy,256.7,37.02,no,delivered,4,1394.5600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24750.01,dhl,furniture,scooter,two day,east,foggy,80.7,3.65,no,delivered,5,414.4500
24996,24750.01,ecom express,automobile parts,ev van,standard,west,clear,172.9,21.42,no,delivered,5,928.7600
24997,24750.01,ekart,clothing,scooter,same day,east,rainy,168.4,4.85,yes,delayed,2,956.5500
24998,24750.01,shadowfax,documents,ev van,standard,west,stormy,37.2,8.04,no,delivered,5,210.1200
24999,24750.01,blue dart,pharmacy,ev bike,two day,central,rainy,279.3,5.06,no,delivered,3,1411.6800

In [19]:
df.to_sql('delivery_logistics', engine, if_exists = 'replace', index = False)

45

In [20]:
pd.read_sql('select * from delivery_logistics', engine)

,delivery_id,delivery_partner,package_type,vehicle_type,delivery_mode,region,weather_condition,distance_km,package_weight_kg,delayed,delivery_status,delivery_rating,delivery_cost
0,250.99,delhivery,automobile parts,bike,same day,west,clear,297.0,46.96,no,delivered,3,1632.7206
1,250.99,xpressbees,cosmetics,ev van,express,central,cold,89.6,47.39,no,delivered,5,640.1700
2,250.99,shadowfax,groceries,truck,two day,east,rainy,273.5,26.89,no,delivered,4,1448.1700
3,250.99,dhl,electronics,ev van,same day,east,cold,269.7,12.69,no,delivered,3,1486.5700
4,250.99,dhl,clothing,van,two day,north,foggy,256.7,37.02,no,delivered,4,1394.5600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24750.01,dhl,furniture,scooter,two day,east,foggy,80.7,3.65,no,delivered,5,414.4500
24996,24750.01,ecom express,automobile parts,ev van,standard,west,clear,172.9,21.42,no,delivered,5,928.7600
24997,24750.01,ekart,clothing,scooter,same day,east,rainy,168.4,4.85,yes,delayed,2,956.5500
24998,24750.01,shadowfax,documents,ev van,standard,west,stormy,37.2,8.04,no,delivered,5,210.1200
24999,24750.01,blue dart,pharmacy,ev bike,two day,central,rainy,279.3,5.06,no,delivered,3,1411.6800

In [21]:
df.groupby(['delivery_partner'])['delivery_id'].count().reset_index(name = 'count')

   delivery_partner  count
0  amazon logistics   2711
1         blue dart   2798
2         delhivery   2786
3               dhl   2802
4      ecom express   2722
5             ekart   2801
6             fedex   2818
7         shadowfax   2736
8        xpressbees   2826

In [22]:
df.groupby(['delivery_partner'])['delivery_cost'].sum().apply(lambda x: f"{int(x):,}")

delivery_partner
amazon logistics    2,353,555
blue dart           2,414,734
delhivery           2,362,833
dhl                 2,445,672
ecom express        2,364,797
ekart               2,436,776
fedex               2,416,028
shadowfax           2,375,778
xpressbees          2,453,436
Name: delivery_cost, dtype: object

In [23]:
df.columns

Index(['delivery_id', 'delivery_partner', 'package_type', 'vehicle_type',
       'delivery_mode', 'region', 'weather_condition', 'distance_km',
       'package_weight_kg', 'delayed', 'delivery_status', 'delivery_rating',
       'delivery_cost'],
      dtype='object')

In [24]:
df.groupby('delivery_partner')['delivery_id'].count().reset_index(name = 'total_deliveries').sort_values(by = 'total_deliveries', ascending = False)

   delivery_partner  total_deliveries
8        xpressbees              2826
6             fedex              2818
3               dhl              2802
5             ekart              2801
1         blue dart              2798
2         delhivery              2786
7         shadowfax              2736
4      ecom express              2722
0  amazon logistics              2711

In [25]:
grouped_data = df.groupby("delivery_partner").agg(
    number_of_deliveries=("delivery_id", "count"),   # new column name, source column, aggregation
    total_delivery_cost=("delivery_cost", lambda x: int(x.sum())),    # new column name, source column, aggregation
    avg_delivery_cost=("delivery_cost", "mean"),     # another example
    avg_weight=("package_weight_kg", "mean"), 
    min_weight =("package_weight_kg", "min"),
    max_weight =("package_weight_kg", "max") 
).reset_index()

In [26]:
grouped_data

,delivery_partner,number_of_deliveries,total_delivery_cost,avg_delivery_cost,avg_weight,min_weight,max_weight
0,amazon logistics,2711,2353555,868.150131,24.926293,0.67,49.52
1,blue dart,2798,2414734,863.021705,25.405332,0.67,49.52
2,delhivery,2786,2362833,848.109810,25.467032,0.67,49.52
3,dhl,2802,2445672,872.831125,24.891028,0.67,49.52
4,ecom express,2722,2364797,868.772186,25.415422,0.67,49.52
5,ekart,2801,2436776,869.966720,24.843609,0.67,49.52
6,fedex,2818,2416028,857.355640,25.070298,0.67,49.52
7,shadowfax,2736,2375778,868.340156,25.085355,0.67,49.52
8,xpressbees,2826,2453436,868.165768,25.209827,0.67,49.52

In [27]:
grouped_data.to_sql('gruped_delivery_logistics_data', engine, if_exists = 'replace', index=False)

9

In [28]:
subtotals = pd.DataFrame({
    "delivery_partner": ["Sub total"],
    "number_of_deliveries": [df["delivery_id"].count()],
    "total_delivery_cost": [df["delivery_cost"].sum()],
    "avg_delivery_cost": [df["delivery_cost"].mean()],
    "avg_weight": [df["package_weight_kg"].mean()],
    "min_weight": [df["package_weight_kg"].min()],
    "max_weight": [df["package_weight_kg"].max()]
})

final = pd.concat([grouped_data, subtotals], ignore_index=True)

In [29]:
final

,delivery_partner,number_of_deliveries,total_delivery_cost,avg_delivery_cost,avg_weight,min_weight,max_weight
0,amazon logistics,2711,2353555.00,868.150131,24.926293,0.67,49.52
1,blue dart,2798,2414734.00,863.021705,25.405332,0.67,49.52
2,delhivery,2786,2362833.00,848.109810,25.467032,0.67,49.52
3,dhl,2802,2445672.00,872.831125,24.891028,0.67,49.52
4,ecom express,2722,2364797.00,868.772186,25.415422,0.67,49.52
5,ekart,2801,2436776.00,869.966720,24.843609,0.67,49.52
6,fedex,2818,2416028.00,857.355640,25.070298,0.67,49.52
7,shadowfax,2736,2375778.00,868.340156,25.085355,0.67,49.52
8,xpressbees,2826,2453436.00,868.165768,25.209827,0.67,49.52
9,Sub total,25000,21623614.47,864.944579,25.145898,0.67,49.52

In [30]:
from IPython.display import display

styled = final.style.apply(
    lambda row: ['font-weight: bold' if row['delivery_partner'] == 'Sub total' else '' for _ in row],
    axis=1
)

display(styled)

In [31]:
df.groupby('vehicle_type').agg(
    number_of_deliveries = ('delivery_id', 'count'),
    total_delivery_cost = ('delivery_cost', lambda x: int(x.sum())), 
    average_delivery_rating = ('delivery_rating', 'mean')).reset_index().sort_values(by = 'number_of_deliveries', ascending = True)

,vehicle_type,number_of_deliveries,total_delivery_cost,average_delivery_rating
2,ev van,4116,3565202,3.678086
4,truck,4145,3584464,3.666104
0,bike,4160,3614694,3.646154
3,scooter,4174,3601803,3.677048
5,van,4187,3591014,3.660855
1,ev bike,4218,3666435,3.667852

In [32]:
df

,delivery_id,delivery_partner,package_type,vehicle_type,delivery_mode,region,weather_condition,distance_km,package_weight_kg,delayed,delivery_status,delivery_rating,delivery_cost
0,250.99,delhivery,automobile parts,bike,same day,west,clear,297.0,46.96,no,delivered,3,1632.7206
1,250.99,xpressbees,cosmetics,ev van,express,central,cold,89.6,47.39,no,delivered,5,640.1700
2,250.99,shadowfax,groceries,truck,two day,east,rainy,273.5,26.89,no,delivered,4,1448.1700
3,250.99,dhl,electronics,ev van,same day,east,cold,269.7,12.69,no,delivered,3,1486.5700
4,250.99,dhl,clothing,van,two day,north,foggy,256.7,37.02,no,delivered,4,1394.5600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24750.01,dhl,furniture,scooter,two day,east,foggy,80.7,3.65,no,delivered,5,414.4500
24996,24750.01,ecom express,automobile parts,ev van,standard,west,clear,172.9,21.42,no,delivered,5,928.7600
24997,24750.01,ekart,clothing,scooter,same day,east,rainy,168.4,4.85,yes,delayed,2,956.5500
24998,24750.01,shadowfax,documents,ev van,standard,west,stormy,37.2,8.04,no,delivered,5,210.1200
24999,24750.01,blue dart,pharmacy,ev bike,two day,central,rainy,279.3,5.06,no,delivered,3,1411.6800

In [33]:
df

,delivery_id,delivery_partner,package_type,vehicle_type,delivery_mode,region,weather_condition,distance_km,package_weight_kg,delayed,delivery_status,delivery_rating,delivery_cost
0,250.99,delhivery,automobile parts,bike,same day,west,clear,297.0,46.96,no,delivered,3,1632.7206
1,250.99,xpressbees,cosmetics,ev van,express,central,cold,89.6,47.39,no,delivered,5,640.1700
2,250.99,shadowfax,groceries,truck,two day,east,rainy,273.5,26.89,no,delivered,4,1448.1700
3,250.99,dhl,electronics,ev van,same day,east,cold,269.7,12.69,no,delivered,3,1486.5700
4,250.99,dhl,clothing,van,two day,north,foggy,256.7,37.02,no,delivered,4,1394.5600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24750.01,dhl,furniture,scooter,two day,east,foggy,80.7,3.65,no,delivered,5,414.4500
24996,24750.01,ecom express,automobile parts,ev van,standard,west,clear,172.9,21.42,no,delivered,5,928.7600
24997,24750.01,ekart,clothing,scooter,same day,east,rainy,168.4,4.85,yes,delayed,2,956.5500
24998,24750.01,shadowfax,documents,ev van,standard,west,stormy,37.2,8.04,no,delivered,5,210.1200
24999,24750.01,blue dart,pharmacy,ev bike,two day,central,rainy,279.3,5.06,no,delivered,3,1411.6800

In [34]:
df.groupby('package_type')['delivery_id'].agg(
    number_of_deliveries = 'count',
    total_delivery_cost = lambda x: int(x.sum())
).sort_values(by = ['total_delivery_cost', 'number_of_deliveries'], ascending = [True, False])

                  number_of_deliveries  total_delivery_cost
package_type
groceries                         2693             33891156
clothing                          2767             34269336
automobile parts                  2795             34307021
pharmacy                          2810             34544948
cosmetics                         2744             34745963
documents                         2805             34861619
furniture                         2746             34909721
electronics                       2792             35309261
fragile items                     2848             35673470

In [35]:
df.columns

Index(['delivery_id', 'delivery_partner', 'package_type', 'vehicle_type',
       'delivery_mode', 'region', 'weather_condition', 'distance_km',
       'package_weight_kg', 'delayed', 'delivery_status', 'delivery_rating',
       'delivery_cost'],
      dtype='object')

In [36]:
grouped_data_region_wise = (
    df.groupby('region').agg(
        total_deliveries=('delivery_id', 'count'),
        total_delivery_cost=('delivery_cost', lambda x: int(x.sum())),
        average_delivery_rating=('delivery_rating', 'mean'),
        average_package_weight=('package_weight_kg', 'mean')
    )
    .reset_index()
    .sort_values(by='total_deliveries', ascending=False)
)

In [37]:
grouped_data_region_wise

,region,total_deliveries,total_delivery_cost,average_delivery_rating,average_package_weight
4,west,5095,4454106,3.640432,25.047588
0,central,5060,4401952,3.660672,25.588061
3,south,4977,4271740,3.667671,24.963589
2,north,4949,4258313,3.679935,25.092481
1,east,4919,4237501,3.682252,25.031088

In [38]:
df.columns

Index(['delivery_id', 'delivery_partner', 'package_type', 'vehicle_type',
       'delivery_mode', 'region', 'weather_condition', 'distance_km',
       'package_weight_kg', 'delayed', 'delivery_status', 'delivery_rating',
       'delivery_cost'],
      dtype='object')

In [39]:
grouped_data_weather_condition_wise = (
    df.groupby('weather_condition').agg(
        total_deliveries=('delivery_id', 'count'),
        total_delivery_cost=('delivery_cost', lambda x: int(x.sum())),
        average_delivery_rating=('delivery_rating', 'mean'),
        average_package_weight=('package_weight_kg', 'mean')
    )
    .reset_index()
    .sort_values(by='total_deliveries', ascending=False)
)

In [40]:
grouped_data_weather_condition_wise.sort_values(by='total_deliveries', ascending=False)

,weather_condition,total_deliveries,total_delivery_cost,average_delivery_rating,average_package_weight
2,foggy,4219,3639656,3.600616,25.229979
5,stormy,4198,3607120,3.354455,25.180679
4,rainy,4171,3618214,3.472549,25.249470
1,cold,4158,3604054,3.877104,25.163468
3,hot,4130,3585794,3.862712,25.297138
0,clear,4124,3568773,3.835839,24.750546

In [41]:
grouped_data_package_type_wise = (
    df.groupby('package_type').agg(
        total_deliveries=('delivery_id', 'count'),
        total_delivery_cost=('delivery_cost', lambda x: int(x.sum())),
        average_delivery_rating=('delivery_rating', 'mean'),
        average_package_weight=('package_weight_kg', 'mean')
    )
    .reset_index()
    .sort_values(by='total_deliveries', ascending=False)
)

In [42]:
grouped_data_package_type_wise

,package_type,total_deliveries,total_delivery_cost,average_delivery_rating,average_package_weight
5,fragile items,2848,2413552,3.658006,25.318027
8,pharmacy,2810,2453139,3.646619,25.233601
3,documents,2805,2386587,3.665241,24.908624
0,automobile parts,2795,2451724,3.687299,24.929614
4,electronics,2792,2394808,3.652221,25.263277
1,clothing,2767,2433359,3.691362,25.260853
6,furniture,2746,2380012,3.689366,25.256828
2,cosmetics,2744,2389477,3.639577,25.138364
7,groceries,2693,2320953,3.664686,24.998719

In [43]:
df.columns

Index(['delivery_id', 'delivery_partner', 'package_type', 'vehicle_type',
       'delivery_mode', 'region', 'weather_condition', 'distance_km',
       'package_weight_kg', 'delayed', 'delivery_status', 'delivery_rating',
       'delivery_cost'],
      dtype='object')

In [44]:
grouped_data_delivery_status_wise = (
    df.groupby('delivery_status').agg(
        total_deliveries=('delivery_id', 'count'),
        total_delivery_cost=('delivery_cost', lambda x: int(x.sum())),
        average_delivery_rating=('delivery_rating', 'mean'),
        average_package_weight=('package_weight_kg', 'mean')
    )
    .reset_index()
    .sort_values(by='total_deliveries', ascending=False)
)

In [45]:
grouped_data_delivery_status_wise

,delivery_status,total_deliveries,total_delivery_cost,average_delivery_rating,average_package_weight
1,delivered,18331,14843581,4.205172,25.137559
0,delayed,5341,5457582,2.401985,25.193411
2,failed,1328,1322450,1.307229,25.069902

In [46]:
x = grouped_data_delivery_status_wise['total_deliveries']*100.0/(df['delivery_id'].count())

In [47]:
grouped_data_delivery_status_wise['percentage_of_total_deliveries'] = x

In [48]:
grouped_data_delivery_status_wise

,delivery_status,total_deliveries,total_delivery_cost,average_delivery_rating,average_package_weight,percentage_of_total_deliveries
1,delivered,18331,14843581,4.205172,25.137559,73.324
0,delayed,5341,5457582,2.401985,25.193411,21.364
2,failed,1328,1322450,1.307229,25.069902,5.312

In [49]:
df.columns

Index(['delivery_id', 'delivery_partner', 'package_type', 'vehicle_type',
       'delivery_mode', 'region', 'weather_condition', 'distance_km',
       'package_weight_kg', 'delayed', 'delivery_status', 'delivery_rating',
       'delivery_cost'],
      dtype='object')

In [50]:
df.groupby('delivery_partner')['delivery_rating'].mean().reset_index(name = 'average_delivery_rating').sort_values(by = 'average_delivery_rating', ascending = False)

   delivery_partner  average_delivery_rating
6             fedex                 3.698368
2         delhivery                 3.687724
3               dhl                 3.685225
1         blue dart                 3.677627
4      ecom express                 3.674504
7         shadowfax                 3.661550
5             ekart                 3.655480
0  amazon logistics                 3.644412
8        xpressbees                 3.608988

In [52]:
df.groupby('delivery_partner')['distance_km'].mean().reset_index(name = 'average_distance_km').sort_values(by = 'average_distance_km', ascending = False)

   delivery_partner  average_distance_km
3               dhl           152.084404
5             ekart           151.566476
0  amazon logistics           151.277167
4      ecom express           151.066201
7         shadowfax           151.037756
8        xpressbees           150.974487
1         blue dart           149.738706
6             fedex           148.778708
2         delhivery           147.037904

In [54]:
df.groupby('region')['distance_km'].mean().reset_index(name = 'average_distance_km').sort_values(by = 'average_distance_km', ascending = False)

    region  average_distance_km
4     west           152.254603
0  central           151.042569
1     east           149.857308
2    north           149.562639
3    south           149.169118

In [55]:
df.columns

Index(['delivery_id', 'delivery_partner', 'package_type', 'vehicle_type',
       'delivery_mode', 'region', 'weather_condition', 'distance_km',
       'package_weight_kg', 'delayed', 'delivery_status', 'delivery_rating',
       'delivery_cost'],
      dtype='object')

In [56]:
# Top 5 delivery IDs with highest delivery_cost
# We assume `df` is already loaded above in the notebook
top5_delivery_cost = df.nlargest(5, 'delivery_cost')[['delivery_id','delivery_cost']].reset_index(drop=True)
print(top5_delivery_cost)

   delivery_id  delivery_cost
0       250.99      1632.7206
1       250.99      1632.7206
2       250.99      1632.7206
3       348.00      1632.7206
4       357.00      1632.7206

In [59]:
top5_by_region = df.groupby('region', group_keys=False).apply(lambda g: g.nlargest(5, 'delivery_cost'))[['region','delivery_id','delivery_cost']].reset_index(drop=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14660\228538754.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top5_by_region = df.groupby('region', group_keys=False).apply(lambda g: g.nlargest(5, 'delivery_cost'))[['region','delivery_id','delivery_cost']].reset_index(drop=True)

In [62]:
top5_by_region

     region  delivery_id  delivery_cost
0   central       348.00      1632.7206
1   central      1026.00      1632.7206
2   central      1725.00      1632.7206
3   central      2364.00      1632.7206
4   central      4487.00      1632.7206
5      east       250.99      1632.7206
6      east       412.00      1632.7206
7      east       480.00      1632.7206
8      east       509.00      1632.7206
9      east       939.00      1632.7206
10    north       357.00      1632.7206
11    north      1185.00      1632.7206
12    north      1626.00      1632.7206
13    north      2738.00      1632.7206
14    north      2769.00      1632.7206
15    south       250.99      1632.7206
16    south       658.00      1632.7206
17    south      1507.00      1632.7206
18    south      1702.00      1632.7206
19    south      1835.00      1632.7206
20     west       250.99      1632.7206
21     west       705.00      1632.7206
22     west      1262.00      1632.7206
23     west      1659.00      1632.7206
24     west      1794.00      1632.7206