# Class 1

In [ ]:
print('welcome to python programming')

# welcome to python programming

In [ ]:
print(9)

In [ ]:
print('hello')

print('nothing')

9+9

9*766

In [ ]:
#mahendra

In [ ]:
#mahendra

# mahendra

In [ ]:
## mahendra

## mahendra

In [ ]:
''' amhendraglajg"""

In [ ]:
akghagha

In [ ]:
alghaoihga

In [ ]:
lakjgoiahg'''

# Class 2

## Data Types

In [ ]:
# data types in sql
# int, varchar, decimal, float, data, date time, money, .............

In [ ]:
int, str, float, list, tuple, set, dict, bool

In [ ]:
a=9

In [ ]:
A

In [ ]:
type(9)

In [ ]:
type(9.09)

In [ ]:
type('mahendra')

In [ ]:
type("mahendra")

In [ ]:
type(True)

In [ ]:
type('true')

In [ ]:
type(False)

In [ ]:
type([1,2,3, 'maheandra', True, 1, 8.8])

In [ ]:
type((1,2,3))

In [ ]:
type({1,2,34,9})

In [ ]:
type({1:'mahendra', 2:766888})

In [ ]:
type(int(9.0))

In [ ]:
type(int(9.8777))

In [ ]:
type('mahendra')

In [ ]:
type('9877789')

In [ ]:
type(int('9822772'))

In [ ]:
type(float('28277272'))

In [ ]:
a = [9, 2]

In [ ]:
type(a)

In [ ]:
int(a)

In [ ]:
8277272

In [ ]:
type(str(287272782))

In [ ]:
bool(0)

In [ ]:
bool(1)

In [ ]:
type(bool(1))

In [ ]:
type(False)

In [ ]:
# keywords

In [ ]:
help('keywords')

In [ ]:
help('for')

In [ ]:
help('False')

In [ ]:
help('if'a)

# variables

In [ ]:
a = 9988

In [ ]:
name = 'mahendra aghoaihg'

In [ ]:
age = 877

# Identifiers

In [ ]:
# aaghiah='mahendra'

In [ ]:
for5 = 8

In [ ]:
a=9

In [ ]:
a=10

In [ ]:
a

In [ ]:
name = 'mahendra'

In [ ]:
name = 'unknown'

In [ ]:
print(name)

In [ ]:
name = input()

In [ ]:
type(name)

In [ ]:
age = int(input())

In [ ]:
age

In [ ]:
name = input('enter your name:')

In [ ]:
mail = input('Enter your mail id:')

In [ ]:
weight = float(input('enter your weight:'))

In [ ]:
type(weight)

In [ ]:
print(weight)

In [ ]:
name = 'mahendra'
age = 89
location = 'usa'
mail_id = 'alihga@gmail.com'
phone_number= 9282727727

In [ ]:
print(name)

In [ ]:
print(age)

In [ ]:
print(location)

In [ ]:
print(phone_number)

In [ ]:
print(f' hello hi my name is {name}, and my age is {age}, my mail id is {mail_id}, my address is {location}, \n \n \n my phone number is {phone_number}')

In [ ]:
age = 66

In [ ]:
if age > 77:
    print(age)
    print(age * age)
else:
    print(age-8)
print(age *0)

In [ ]:
for i in range(100):
    print(i*i, end=' ')

In [ ]:
if age > 70:
    print('something')
    print('nothing')
elif (age > 76):
    print('someting1111')
    print(age)
else:
    print(age *0)

# Operators in python

## i. Arithmetic operators

### +, -, *, /, //, %, **

In [ ]:
a = 78

In [ ]:
a

In [ ]:
b= 65

In [ ]:
b

In [ ]:
a
b

In [ ]:
print(a)
print(b)

In [ ]:
print(a)

In [ ]:
a

In [ ]:
b
a

In [ ]:
a + b

In [ ]:
print(a+b)

In [ ]:
a=int(input('enter a value:'))
b = int(float(input('enter b value:')))
ans = a+b
print(f'sum of a and b values are {ans}')

In [ ]:
a-b

In [ ]:
9+j9

In [ ]:
9+9j

In [ ]:
type(9+9j)

In [ ]:
x = 877+877j

In [ ]:
type(x)

In [ ]:
y=x.conjugate()

In [ ]:
x+y

In [ ]:
x - y

In [ ]:
 877j + 877j

In [ ]:
x * y

In [ ]:
a=8
b = 23

In [ ]:
a+b

In [ ]:
a-b

In [ ]:
a*b

In [ ]:
a/b

In [ ]:
a//b

In [ ]:
a

In [ ]:
a=6

In [ ]:
b

In [ ]:
b=4

In [ ]:
a/b

In [ ]:
a//b

In [ ]:
x

In [ ]:
x.conjugate()

In [ ]:
x=9

In [ ]:
x

In [ ]:
8**2

In [ ]:
7**7

In [ ]:
7**2

In [ ]:
a

In [ ]:
b

In [ ]:
a%b

In [ ]:
# % ---> return remainder
# / ---> it will coefficient
# // ---> it will floor value of coefficient
# + --> addition, - => subtraction, ** ==> power

In [ ]:
24//5

In [ ]:
b=9

In [ ]:
if b%2==0:
    print(f'{b} is even number')
else:
    print(f'{b} is odd number')

# assignment operators
## =, +=, -=, *=, /=, //=, **=

In [ ]:
a=8

In [ ]:
a

In [ ]:
a+=1

In [ ]:
a

In [ ]:
a=a+1

In [ ]:
a

In [ ]:
a-=1

In [ ]:
a

In [ ]:
a

In [ ]:
a/=3

In [ ]:
a

In [ ]:
a=3333
a=a/3

In [ ]:
a

In [ ]:
a/=3

In [ ]:
a

In [ ]:
a

In [ ]:
a*=3

In [ ]:
a

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
ans=0
for i in a:
    count+=i
print(count)

In [ ]:
#the sum of n number = n*(n+1)/2

In [ ]:
a

In [ ]:
a=98

In [ ]:
a%=5

In [ ]:
a

In [ ]:
a

In [ ]:
a**=2

In [ ]:
a

In [ ]:
a

In [ ]:
a//=7

In [ ]:
a

In [ ]:
6561/7

In [ ]:
a=[1,2,3,4,0]

In [ ]:
mul = 1
for i in a:
    mul*=i

In [ ]:
mul

In [ ]:
for i,j,k in a:
    print(ahgahg)

In [ ]:
a = 9

In [ ]:
b=8

In [ ]:
a,b = 8, 2

In [ ]:
a

In [ ]:
b

In [ ]:
a = 'mahendra ooi'

In [ ]:
a

In [ ]:
a

In [ ]:
len('mahendraai')

In [ ]:
a[:]

In [ ]:
a[0]

In [ ]:
a[10]

In [ ]:
type(a[10])

In [ ]:
a[2:len(a)-2]

In [ ]:
a[-4]

In [ ]:
a= 'mahendra'

In [ ]:
a[-1]

In [ ]:
a[-2]

In [ ]:
a[-1:len(a)]

In [ ]:
a, *b = 'mahendra'

In [ ]:
a

In [ ]:
b

In [ ]:
# =, +=, -=, *=, /=, //=, **= (numberic, string)

In [ ]:
a, b = 'mahendra', 'amahi'

In [ ]:
a

In [ ]:
b

In [ ]:
a, *b = 'mahendra'

In [ ]:
a

In [ ]:
b

# logical operators
# and, or, not

In [ ]:
0 and 9

In [ ]:
7 and 9

In [ ]:
8 or 9

In [ ]:
a=30
b=9

In [ ]:
8 == 9

In [ ]:
a=6
b=8
a and b

In [ ]:
a or b

In [ ]:
a and a

In [ ]:
type(a and b)

In [ ]:
bool(a and b)

In [ ]:
bool(9 and 9)

In [ ]:
bool(0 or 8)

In [ ]:
a

In [ ]:
not a

In [ ]:
bool (not 77)

In [ ]:
bool(7777)

In [ ]:
age = 88
salary =828278
if age == 50 and salary == 8877:
    print('something')
else:
    print('another')

In [ ]:
9>7 or 8 < 3

# Comparision operators
# ==, !=, <, >, <=, >=

In [ ]:
a=9

In [ ]:
a

In [ ]:
a==9

In [ ]:
99 == 99

In [ ]:
99==99

In [ ]:
8 > 8

In [ ]:
8>= 8

In [ ]:
pass_marks = 50
aghaoi =9
if Score = pass_marks:
    print('yes. you cleared the exam')
else:
    print('sorry. you didnt clear')

In [ ]:
Score

In [ ]:
score

# Identity operators

In [ ]:
#is, is not

In [ ]:
a

In [ ]:
b

In [ ]:
a is b

In [ ]:
b is a

In [ ]:
a = b

In [ ]:
a

In [ ]:
a is b

In [ ]:
a

In [ ]:
b

In [ ]:
a is not b

In [ ]:
a, b = 6, 4

In [ ]:
a

In [ ]:
b

In [ ]:
a, b = b,a

In [ ]:
a

In [ ]:
b

In [ ]:
a= [98,28]
b = [98, 28]
a = b

In [ ]:
b is a

In [ ]:
a =9
b = 9

In [ ]:
a is a

In [ ]:
a is b

In [ ]:
9 is 9

In [ ]:
x = [8, 4]
y = [8,4]

In [ ]:
x is y

In [ ]:
y is x

In [ ]:
x = y

In [ ]:
x is y

In [ ]:
y is x

# Membership operators

In [ ]:
# in, not in

In [ ]:
a = [2,4,5]
2 in a

In [ ]:
8 in a

In [ ]:
9 in a

In [ ]:
9 not in a

In [ ]:
a = [2, 3,5, 9]
for i in a:
    print(i)
print('')

In [ ]:
a='mahendra'

In [ ]:
i

In [ ]:
'i' in a

In [ ]:
'm' in a

In [ ]:
'ma' in a

In [ ]:
'mahendra' not in a

In [ ]:
b = 'my name is mahendra'
c = 'mahendra'
c in b

In [ ]:
print(c not in b)

In [ ]:
arith = 98

In [ ]:
# operators in python
arith 
assignment=0
logical=0
identity
comparative
membershipt

In [ ]:
a

In [ ]:
a

In [ ]:
del a

In [ ]:
a

In [ ]:
name = 'sam' + ' '

In [ ]:
name *= 8

In [ ]:
name

In [ ]:
name.split('sam')

In [ ]:
type(' ')

In [ ]:
' ' * 10

In [ ]:
a='mahendra is working'

In [ ]:
a

In [ ]:
a.split(' ')

# Control Structures

In [ ]:
#i)selection or conditional 
# ii) looping or iterative statements
# iii)jumping statements

In [ ]:
##i) if, else
###ii) if, elif, elif,....else
## iii) if, else, if elif, ..........else

In [ ]:
a=100
b = 30

In [ ]:
if a>b:
    print('a is higher than b')
    print(a)
    print(b)
    print(a*b)
else: 
    print('a is higher than b')

In [ ]:
a>b

In [ ]:
case when 
    when
    when
    when
    else

In [ ]:
user_name = 'mahendra'
password = '9828279'
name = input('enter your username:')
passd = input('enter your password:')
if name == user_name and passd == password:
    print('yes, your credentials is correc')
    print('login successful')
elif name != user_name:
    print('login failed')
    print('login failed due to user name is incorrect')
elif passd !=password:
    print('login failed')
    print('failed due to password is incorrect')
else:
    print('fail')

In [ ]:
8 and 9

In [ ]:
a=100
b=290
c=45
if a>b:
    if a>c:
        print(f'{a} is higher than {b} and {c}')
    else:
        print(f'{c} is higher than {a} and {b}')
elif b==a:
    if b>c:
        print(f'{b} is higher than {a} and {c}')
    else:
        print(f'{c} is higher than {a} and {b}')
else:
    print('i dont know any comparisions')

In [ ]:
if 8>9:
    print('its wrong')
else:
    print('its right')

In [ ]:
if 100>200:
    print('alaaaaa')
elif 40>200:
    print('alkjga')
else:
    print('aljgf')

In [ ]:
range(100)

In [ ]:
a=list(range(100))

In [ ]:
a=a[2:20]

In [ ]:
a

In [ ]:
a[0:20:3]

In [ ]:
a

In [ ]:
a=[1,2,3,4,5,6]

In [ ]:
a

In [ ]:
a[:]

In [ ]:
a[::]

In [ ]:
a[::-2]

In [ ]:
a

In [ ]:
a[::2]

In [ ]:
a + [2]

In [ ]:
a[::2]

In [ ]:
a[3:5:1]

In [ ]:
a[-3:-1:1]

In [ ]:
a

In [ ]:
a[0:3]

In [ ]:
a[:]

In [ ]:
a[::]

In [ ]:
len(a)

In [ ]:
a[0:len(a):2]

In [ ]:
a

In [ ]:
a[::-1]

In [ ]:
a[-6:-5:1]

In [ ]:
a[-6]

In [ ]:
a

---> 0, 1, 2, 3,4,5,6
<--- -6, -5, -4, -3, -2, -1

In [ ]:
a[::-1]

In [ ]:
a[:]

In [ ]:
a[-6]

In [ ]:
b=a[-6:-1]

In [ ]:
b

In [ ]:
b[::-1]

len(a) ---> len(a) - 1

In [ ]:
a[-6::-1]

In [ ]:
name = 'mahendra'

In [ ]:
name[0]

In [ ]:
name[:]

In [ ]:
name[:2]

In [ ]:
name[::1]

In [ ]:
name[::-1]

# Iterative or Looping Statements

In [ ]:
# i) for
# ii) while

In [ ]:
for x in range(0, 100, 2):
    print(x)

In [ ]:
for i in range(100):
    print(i, end=' ')

In [ ]:
name = 'mahendra'

In [ ]:
name[0]

In [ ]:
name[:]

In [ ]:
name[:len(name)]

In [ ]:
name[len(name):0:-1]

In [ ]:
name[1]

In [ ]:
len(name)

In [ ]:
del name

In [ ]:
name

In [ ]:
del name
del ans

In [ ]:
name = 'something'
ans =''

In [ ]:
for i in range(0, len(name)):
    ans+=name[i] 
    print(ans)
#i) i=0=> name[0]='s' ans='s'
#ii) i=1=> name[1]= 'o' ans='s'+'o'=> 'so'

In [ ]:
for i in range(1, 10):
    #i=0
    print('*' * i)

In [ ]:
'mahi' * 2

In [ ]:
'*' * 2

In [ ]:
ans

In [ ]:
del ans

In [ ]:
a=[9,2,3,5]
suma=0
for i in range(len(a)):
    suma+=a[i]
print(suma)

In [ ]:
name + 'mhi'

In [ ]:
name

In [ ]:
for i in range(9, 0, -1):
    ans1=name[:i]
    print(ans1)
print(ans1)

In [ ]:
del ans1

In [ ]:
for i in range(10, 0, -1):
    print('*' * i)

In [ ]:
for i in range(10, 1, -1):
    print(i)

In [ ]:
for i in range(10,0,-1):
    print(' ' * (10-i) + '*' * i) #i=10, i=9, 8,

In [ ]:
for i in range(1, 10): #i=1
    for j in range(1,10): #j=1
        print(j, end=' ')
    print()

In [ ]:
for i in range(1,10): #i=1
    for j in range(1,10): #j=1
        if i>j:
            print(j, end=' ')
    print()

# While

In [ ]:
x=10

In [ ]:
while x>0:
    print('something') #x=10
    x-=2 #x=x-1

In [ ]:
if x>100:
    print('somj')

In [ ]:
x

In [ ]:
x=20
while x>1:
    print(x, end=' ')
    x-=3
y-=3
print(y)

In [ ]:
x

In [ ]:
y=20
y-=3

In [ ]:
y

In [ ]:
x = 30
while x<100:
    print(x, x*10)
    x+=4

## Q) given a number, print reverse of the given number.

In [ ]:
h=2877
ans = 77822554562222
digit = h%10

In [ ]:
digit

In [ ]:
11/10

In [ ]:
11//10

In [ ]:
2877//10

In [ ]:
n = int(input('enter n value:'))
g = n
rev=0
while n >0:
    digit = n%10 #digit = 7, 7, 8, 2
    rev = rev * 10 +digit #rev = 0+7; # rev = 7 * 10 + 7=77; #rev = 77*10 + 8=778; 778 * 10 + 2==> 7782
    n//=10 
if rev == g:
    print(f'given number {g} is a palindrome')
else:
    print(f'given number {g} is not a palindrome')

In [ ]:
if rev==

In [ ]:
n=input('enter n value:')
x=n[::-1]
u=int(x)
u

In [ ]:
2//10

In [ ]:
100

In [ ]:
'001'

In [ ]:
a = 'anbnaa'

In [ ]:
b=a[::-1]

In [ ]:
b

In [ ]:
if a==b:
    print('pal')
else:
    print('not pal')

# Jumping Statements

In [ ]:
# break, continue, pass

In [ ]:
for i in range(1, 100): 
    if i<=10:
        print(i)
    else:
        break
        print(i)
        print(i**8)

In [ ]:
x=80
while x<100:
    print(x)
    x+=2
    if x>=96:
        break
    else:
        break
        print()
        print('nothing')
if x>=96:
    print('------------')
    print(x)

In [ ]:
n=int(input('enter n value:'))
#(1,n)==> 2 to n-1
for i in range(2, 7): #2,3,4,5,6
    if n%i==0:
        print('not prime')
        break
else:
    print('prime')

In [ ]:
def prime(x):
    for i in range(2, x): #2,3,4,5,6
        if x%i==0:
            print('not prime')
            break
    else:
        print('prime')

In [ ]:
prime(11)

In [ ]:
x =int(input('enter n value:'))
# 1,182==> prime
# 3=> not prime
if x<2:
    print('not prime')
else:
    for i in range(2, x): #2,3,4,5,6 sqrt(n)
        if x%i==0:
            print('not prime')
            break
    else:
        print('prime')

In [ ]:
for i in range(2, 9):
    print(i)

In [ ]:
x

In [ ]:
n

In [ ]:
n=int(input('enter n value')) #10
for i in range(1, n+1): #1 to 10
    if i < 2:
        pass
    else:
        for j in range(2, i):
            if i%j==0:
                break
        else:
            print(i, end=' ')

In [ ]:
for i in range(1, 51):
    if i<=35 and i>=30:
        continue
    print(i, end=' ')

In [ ]:
for i in range(1,10):
    if i==10:
        continue
    print(i)

In [ ]:
x=19
if x>12:
    print('eoaogo')

# Data Structures

# List

In [ ]:
a=[1,2,3,4]

In [ ]:
a

In [ ]:
type(a)

In [ ]:
a[2]

In [ ]:
a[:]

In [ ]:
a[2]=8

In [ ]:
a

In [ ]:
a.remove(4)

In [ ]:
a

In [ ]:
a.insert(7,25)

In [ ]:
a

In [ ]:
len(a)

In [ ]:
a.insert(3, 100)

In [ ]:
a

In [ ]:
a[3]=5

In [ ]:
a

In [ ]:
a[-1]=[-1,100]

In [ ]:
a

In [ ]:
a.insert(-2, 100)

In [ ]:
a

In [ ]:
a

In [ ]:
a=[[1,2,4,5,],[5,6,7,7],[2,3,4]]

In [ ]:
a.pop()

In [ ]:
a.pop(1)

In [ ]:
a

In [ ]:
a.remove([2,3,4])

In [ ]:
a

In [ ]:
a=[2,2,5,9,7,9,6,7]

In [ ]:
a.remove(7)

In [ ]:
a

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[1]

In [ ]:
a[0][2]

In [ ]:
a[1][3]

In [ ]:
a

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a.pop(1)

In [ ]:
a

In [ ]:
a.extend([2,3])

In [ ]:
a

In [ ]:
a

In [ ]:
a=[2,3,4,8]

In [ ]:
a.remove()

In [ ]:
type(a)

In [ ]:
a[0]

In [ ]:
a[0][1]

In [ ]:
a[1][3]

In [ ]:
a

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
b=[3,4,5,60]
b

In [ ]:
b.pop()

In [ ]:
b

In [ ]:
del b

In [ ]:
b = ['mahendra', 45, ]

In [ ]:
a=[[1,2,3,4],[2,3,4,5]]

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a=[[2,3,4],[2,3,4],[3,4,5]]

In [ ]:
del a[0]

In [ ]:
a

In [ ]:
del a[1][2]

In [ ]:
a

In [ ]:
a.pop()

In [ ]:
a=['mahendra', 45, 88787.0, True]

In [ ]:
a

In [ ]:
a.append(4)

In [ ]:
a

In [ ]:
a.append([5,6,7])

In [ ]:
a

In [ ]:
a.append(78)

In [ ]:
a

In [ ]:
a.sort()

In [ ]:
b=[2,34,5,6,7]
b.sort()

In [ ]:
b

In [ ]:
b.sort(reverse=True)

In [ ]:
b

In [ ]:
len(b)

In [ ]:
b=[2,3,4,5,5,8,9,8, 8, 9]
b.count(8)

In [ ]:
a[::-1]

In [ ]:
a

In [ ]:
b

In [ ]:
sorted(b)

In [ ]:
b

In [ ]:
c=b.sort()

In [ ]:
b

In [ ]:
c

In [ ]:
x=[1,4,7,10, 3, 5, 20, 6]
x.sort()

In [ ]:
x

In [ ]:
x

In [ ]:
x

In [ ]:
h=x.sort(reverse=True)

In [ ]:
h

In [ ]:
x

In [ ]:
h=x

In [ ]:
h

In [ ]:
h

In [ ]:
a=[2,3,4]
b=[8,28]

In [ ]:
a+b

In [ ]:
[i**2 for i in a]

In [ ]:
sum(a)

In [ ]:
min(a)

In [ ]:
max(a)

In [ ]:
print(h)

In [ ]:
x+x+x

In [ ]:
x

In [ ]:
x*3

In [ ]:
[i**2 for i in x] #list comprehension

In [ ]:
[x**2 for x in range(10) if x%2!=0]

In [ ]:
[x[y] for y in range(len(x))]

In [ ]:
[x[i] for i in range(0,len(x)) if i%2==0]

In [ ]:
a=[]
def f(x):
    for i in range(0, len(x),2): #0,1, 2,3 4,5, 6,
        if i%2==0:
            a.append(x[i])
    print(a)

In [ ]:
f(x)

In [ ]:
name = 'mahendra'
n=[name[x] for x in range(len(name)) if x%2==0]

In [ ]:
n

In [ ]:
name

In [ ]:
name[0]

In [ ]:
name[1]

In [ ]:
name[2]='ah'

In [ ]:
name[:]

In [ ]:
name[3]='a'

In [ ]:
name + 'mahe'

# List

In [ ]:
a

In [ ]:
for i in range(10):
    print(i)

In [ ]:
len(a)

In [ ]:
length_of_a = len(a)

In [ ]:
for i in range(len(a)): #0, 1, 2
    print(a[i])

In [ ]:
a=[1,2,3,4,5,9,87,766]

In [ ]:
sum_a=0
for i in range(len(a)):
    sum_a+=1
print(sum_a)

In [ ]:
len(a)

In [ ]:
a

In [ ]:
ans=0
for i in a:
    ans+=i
print(ans)

# Tuple

In [ ]:
a=(1)

In [ ]:
type(a)

In [ ]:
a=(1,)

In [ ]:
type(a)

In [ ]:
b=tuple()

In [ ]:
type(b)

In [ ]:
a=list()

In [ ]:
type(a)

In [ ]:
a

In [ ]:
b

In [ ]:
x=(1,2,3,4,5,8)
x[:]

In [ ]:
x[0]

In [ ]:
x[1]

In [ ]:
x[1:4]

In [ ]:
x.add(8)

In [ ]:
x.append(8)

In [ ]:
x.remove(8)

In [ ]:
x[0]

In [ ]:
x[0]=5

In [ ]:
p=[4,5,8]
p

In [ ]:
p[1]

In [ ]:
p[1]=9

In [ ]:
p

In [ ]:
p.remove(8)

In [ ]:
p

In [ ]:
x

In [ ]:
x.insert(2,9)

In [ ]:
p

In [ ]:
p.insert(2,20)

In [ ]:
p

In [ ]:
x

In [ ]:
x.pop()

In [ ]:
type(x)

In [ ]:
a=x.copy()

In [ ]:
a=x

In [ ]:
a

In [ ]:
type(a)

In [ ]:
tuple(list(a))

In [ ]:
a=98.7

In [ ]:
type(a)

In [ ]:
b=int(a)

In [ ]:
float(b)

In [ ]:
str(a)

In [ ]:
a=(2,5,8)
b=(4,9,28)

In [ ]:
v=list(a)

In [ ]:
v.append(76)

In [ ]:
v

In [ ]:
a=tuple(v)

In [ ]:
a

In [ ]:
c=a+b

In [ ]:
c

In [ ]:
a.extend((2827))

In [ ]:
a.update((23,34,45))

In [ ]:
v

In [ ]:
o=tuple(v)

In [ ]:
o[1]=9

#Sets

In [ ]:
a={}

In [ ]:
type(a)

In [ ]:
a=set()

In [ ]:
a

In [ ]:
a=list()

In [ ]:
a

In [ ]:
b=tuple()

In [ ]:
b

In [ ]:
d=dict()

In [ ]:
d

In [ ]:
p={1,2,3,4}

In [ ]:
type(p)

In [ ]:
n={2,9,9,282,3,5,7,8,9,9,5,7}

In [ ]:
len(n)

In [ ]:
n

In [ ]:
n

In [ ]:
a=[2,3,3,4,5]

In [ ]:
a

In [ ]:
b=(2,5,7,8)

In [ ]:
b

In [ ]:
b[0]

In [ ]:
a[0]

In [ ]:
n[0]

In [ ]:
set(list(n))

In [ ]:
n

In [ ]:
type(n)

In [ ]:
n.add(87)

In [ ]:
n

In [ ]:
n.remove(8)

In [ ]:
n

In [ ]:
n.insert(2,444)

In [ ]:
n.pop()

In [ ]:
n

In [ ]:
a

In [ ]:
b

In [ ]:
a.update(b)

In [ ]:
a={2,5,7,8,8,9}
b={3,5,6,89,0}

In [ ]:
a

In [ ]:
b

In [ ]:
c=a.update(b)

In [ ]:
c=a

In [ ]:
c

In [ ]:
a

In [ ]:
a.append(a)

In [ ]:
a

In [ ]:
b

In [ ]:
a={4,5.5,'mahendra',8, 'mahendra'}

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[:]

In [ ]:
tuple(a)

In [ ]:
a

In [ ]:
a={2,5,6,8}
b={4,5,9,8,8}
a.intersection(b)

In [ ]:
a.difference(b) #a-b

In [ ]:
b.difference(a)

In [ ]:
a.union(b)

In [ ]:
a.unionall(b)

In [ ]:
d={}

In [ ]:
type(d)

In [ ]:
d={'name': 'mahendra', 'age':98, 'location':'usa', 'name': 'something'}

In [ ]:
d

In [ ]:
d['name']

In [ ]:
d['age']

In [ ]:
d['location']

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
d['location']='uk'

In [ ]:
d

In [ ]:
d['mobile_num']='898272772'

In [ ]:
d

In [ ]:
d.pop('name')

In [ ]:
d

In [ ]:
d[0]

In [ ]:
i={x:x*x for x in a}

In [ ]:
a

In [ ]:
type(i)

In [ ]:
i

In [ ]:
s=tuple(x for x in range(10))

In [ ]:
s

In [ ]:
school={
    'Class I': {'st1':
                {'age':87,'name':872,'gender':'m'}, 
                'st2':{'name':'mahendra', 'age':87, 'gender':'m'}, 
                'st3':{'name':'algoa','age':73,'gender':'f'}
               }, 
    'Class II': {
        'st1':
                 {
        'name' : 'asome','age':72, 'gender':87, 'mob.num':2828272
                 }, 
        'st2':{
            'name':'amhge', 'age':27, 'fee':272227
        },
        'st3':{
            'name':'alkg','age':28, 'address': 'aljglj'
        },
        'st4':{
            'name':'alhg','age':22}
    },
    'ClassIII' : {'st1','st2','st3','st4','st5'}
}

In [ ]:
school

In [ ]:
school['Class II']['st4']['age']=77

In [ ]:
school['Class II']['st4']['age']

In [ ]:
school

In [ ]:
salary, employee_name,..............
csv, orc, parquet,...........
e........
.........
......
salary:{.....................}

In [ ]:
import pandas as pd
pd.DataFrame(school)

In [ ]:
pd.DataFrame({'name':['mahendra','mahi'],'salary':[200]})

In [ ]:
a=[2,35,67,8,9,9,3,8,2,2,2]
ans={}
for i in a:
    if i in ans:
        ans[i]+=1
    else:
        ans[i]=1
print(ans)

In [ ]:
{2:.., 35:.., 67:............}

In [ ]:
school.keys()

In [ ]:
school['Class I']

In [ ]:
ans

In [ ]:
ans.items()

In [ ]:
ans.keys()

In [ ]:
ans.values()

In [ ]:
for key, value in ans.items():
    print(value, key)

In [ ]:
for i in a:
    pass

In [ ]:
p=[2,2,3]
for i in p:
    print(i)

In [ ]:
[x for x in range(20)]

In [ ]:
{x:x for x in range(20)}

In [ ]:
ans

In [ ]:
a={x:y for x, y in ans.items()}

In [ ]:
a[2]

In [ ]:
a[2]=99

In [ ]:
a[2]

In [ ]:
{x:x**3 for x in range(5)}

In [ ]:
tuple(x for x in range(20))

# Inbuilt functions

In [ ]:
# i. type casting ---> int(), float(), str(),list(), tuple()...............
# reading functions --> input(), print()
#string functions--> len(), split(), append(), ord(), chr(),..........
#math---> min(), max(), abs(), round(), floor(), sqrt(), 
#help(), dir(), sort(), sorted(), reverse(), reverse(), range(), ..............

In [ ]:
dir(__builtins__)

In [ ]:
import math

In [ ]:
dir(math)

In [ ]:
dir('sqrt')

In [ ]:
math.sqrt(8)

In [ ]:
import sys

In [ ]:
dir(sys)

In [ ]:
import random

In [ ]:
dir(random)

In [ ]:
import numpy
import pandas

In [ ]:
import pandas as pd

In [ ]:
dir(pandas)

In [ ]:
dir('Series')

In [ ]:
dir(numpy)

# User Defined functions

In [ ]:
def printing():
    for i in range(20):
        print(i)

In [ ]:
printing

In [ ]:
def printf():
    print()

In [ ]:
printf

In [ ]:
printing()

In [ ]:
def welcome():
    print('hello welcome to python programming')
    print('my name is something')

In [ ]:
welcome()

In [ ]:
welcome()

In [ ]:
def mahendra():
    print('hi my name is mahendra')
    print(welcome())
    return welcome()

In [ ]:
mahendra()

In [ ]:
def greeting():
    print('hello')
    return 'welcome'

In [ ]:
greeting()

In [ ]:
def welcome():
    return greeting()

In [ ]:
welcome()

In [ ]:
factorail()

In [ ]:
factorial=9

In [ ]:
math.factorial(8)

In [ ]:
factorial

In [ ]:
def factorial(n):
    return n

In [ ]:
factorial(6)

In [ ]:
def mahi(x,y):
    def mahi(o):
        return o

In [ ]:
mahi(5,6)

In [ ]:
def mahi(x,y):
    return 1
def mahi3():
    return 0

In [ ]:
mahi3()

In [ ]:
mahi(8,9)

In [ ]:
def addition(x,y,z):
    return x+y+z

In [ ]:
addition(8,25,5)

In [ ]:
def f(h):
    return h*addition(u,i,o)

In [ ]:
f(8)

In [ ]:
u=9

In [ ]:
i

In [ ]:
o=8

In [ ]:
def multiplication(e,f,g):
    return e*f*g

In [ ]:
e=2
f=8
g=8

In [ ]:
multiplication(e,f,g)

In [ ]:
def welcome(x,y):
    print(f' welcome {x} to the world of {y}')

In [ ]:
welcome('mahendra', 'Python')

In [ ]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    return fact

In [ ]:
fact(5)

In [ ]:
n=int(input('enter n value:'))
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

In [ ]:
def f(x):
    return x*fact(3)

In [ ]:
f(8)

In [ ]:
fact(8)

In [ ]:
dir(__builtins__)

In [ ]:
import sys
print(sys.builtin_module_names)

In [ ]:
def prime_series(n):

In [ ]:
help()

In [ ]:
a=10
def f(x):
    a=3
    return a

In [ ]:
print(a)

In [ ]:
f(8)

In [ ]:
a=8
def addition(x,y):
    return x+y+a

In [ ]:
x=2
y=5
addition(x,y)

In [ ]:
a

In [ ]:
del addition

In [ ]:
addition(x,y)

In [ ]:
a

In [ ]:
del a

In [ ]:
a

In [ ]:
s=lambda x: x**2

In [ ]:
s

In [ ]:
type(s)

In [ ]:
def g(x):
    return x+4
def f(x):
    a=g(x)
    return a

In [ ]:
g(5)

In [ ]:
f(9)

In [ ]:
s(5)

In [ ]:
def power(x):
    return x**2

In [ ]:
power(5)

In [ ]:
mul = lambda x,y,z: x*y*z
mul2 = lambda m,x,y: m+x+y

In [ ]:
mul

In [ ]:
x=20
y=9
z=8
h= mul(x,y,z)
print(h)

In [ ]:
mul2(3,5,9)

In [ ]:
h

In [ ]:
gh = lambda h:h*9

In [ ]:
gh(h)

In [ ]:
tuple(map(lambda x:x**2, (22,)))

In [ ]:
(9)

In [ ]:
type((9,))

In [ ]:
dict

In [ ]:
salaries = [2000, 45000, 5000, 5000]
(lambda x: x*0.9, salaries)

In [ ]:
help()

In [ ]:
a.py
--task1
b.py
c.py
d.py

moudles==> variable, function, classes, ...............

In [ ]:
%%writefile ha.py
a=0
b=9
c=25
def f(x):
    return x*7
def g(x):
    return x**2

In [ ]:
g(8)

In [ ]:
import ha

In [ ]:
ha.a

In [ ]:
from ha import c

In [ ]:
c

In [ ]:
g(8)

In [ ]:
ha.g(6)

In [ ]:
f(200)

In [ ]:
from ha import f,g

In [ ]:
f(8)

In [ ]:
g(7)

In [ ]:
%%writefile mahi.py
name = 'mahendra'
age = 88
def f(x):
    return x*6
def some(r):
    return r

In [ ]:
a

In [ ]:
name

In [ ]:
import mahi 
from mahi import some, f

In [ ]:
age

In [ ]:
f(7)

In [ ]:
some(5)

In [ ]:
%%writefile mahi.py
name = 'mahendra'
age = 87
location = 'usa'
def work():
    print('doing something')
def f(x):
    return x*7
def g(y):
    return y**2
def gh(h):
    print(f'{h} is doing nothing')
work()
f(7)
g(3)
gh('mahendra')

In [ ]:
!python mahi.py

In [ ]:
!mkdir hari

In [ ]:
import os

In [ ]:
os.mkdir('mahendra')

In [1]:
%%writefile hari/a.py
a=49
g=20
g=99

Overwriting hari/a.py

In [ ]:
%%writefile hari/b.py
name = 'mahendra'
age = 98
def work():
    print('something')

In [ ]:
age

In [ ]:
import b

In [ ]:
import hari

In [ ]:
from hari import b

In [ ]:
b.age

In [ ]:
b.work()

In [ ]:
import a

In [ ]:
import hari.a

In [ ]:
hari.a.a

In [ ]:
from hari import a

In [ ]:
a.a

In [ ]:
a.g

In [6]:
from hari.a import a,g

In [4]:
g

99

In [ ]:
g(8)

In [ ]:
g(8)

In [ ]:
f(76)

In [7]:
%%writefile hari/hari2/mahi.py
a=9
b=200
def f(x):
    return x

Writing hari/hari2/mahi.py

In [8]:
import hari.hari2

In [9]:
from hari.hari2 import mahi

In [10]:
mahi.a

9

In [12]:
%%writefile hari/hari2/mahi2.py
a=9
b=200
def f(x):
    return x

Writing hari/hari2/mahi2.py

In [ ]:
pip install pandas

In [13]:
import datetime

In [14]:
datetime.now()

AttributeError: module 'datetime' has no attribute 'now'

In [15]:
from datetime import datetime

In [16]:
datetime.now()

datetime.datetime(2025, 3, 18, 19, 14, 24, 194266)

In [17]:
dir(datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [18]:
dir('year')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# file handing

In [21]:
# open, close
#read, write
#modes==> r, w, a, r+, w+, a+
#seek(0) ==> file pointer enter into begin of the file

In [23]:
a=open('hari/a.py', 'r')
print(a.read())
a.close()

a=49
g=20
g=99

In [37]:
a=open('hari/a.py', 'a+')
b=a.write('hello welcome to 222\n')
a.close()

In [43]:
with open('hari/a.py', 'a') as file:
    file.seek(0)
    file.write('new things\n')

In [31]:
with open('mahi.txt', 'w') as file:
    file.write('hello mahendra welcome to the world of programming')

In [32]:
with open('mahi.txt', 'r+') as file:
    x=file.read()
    y=x.replace('mahendra', 'mahindra')
    file.seek(0)
#     file.write(y)
#     file.truncate()
    a=file.write(y)
    print(file.read())

In [34]:
# try:
#     code write block
# except:
#     print('lkjogkj')

In [38]:
a=open(r"C:\Users\mahen\Desktop\gg.sql")

In [39]:
print(a.read())

--Q) How Do you handle null values or missing values or inconsistent
---values in a table that stays in a DB.

--isnull
---coalesce
--- conditional statements

select * from empss

select count(employee_name) from empss

select isnull(null, 9)


select employee_id, isnull(employee_name, 'unknown'), isnull(age, 19),
isnull(department, 'IT'), isnull(salary, 10000) from empss

select employee_id, coalesce(employee_name, department, 'unknown'),
coalesce(age, employee_id *10, 20), coalesce(department, 'IT'), coalesce(salary,
employee_id *1000, age * 100, 30000) from empss

select coalesce(null, null, null, 10, 30)

select employee_id,
	case when employee_name is null or department is null
		then 'unknown' else employee_name end as employee_name,
	case when age is null then 28 else age end as age,
	case when department is null and employee_name is null then 'IT'
		when department is null then 'Sales'
		else department end as department,
	case when salary is null then 78000 else salary end as salary from empss



-- Create Orders Table
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10,2),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

-- Insert Sample Data into Orders
INSERT INTO orders (order_id, customer_id, order_date, total_amount) VALUES
(101, 1, '2025-03-01', 150.0),
(102, 1, '2025-03-05', 200.0),
(103, 2, '2025-03-02', 250.0),
(104, 2, '2025-03-06', 300.0),
(105, 3, '2025-03-03', 100.0),
(106,1, '2025-03-08', 240.0);


--- Variable Declarations in SQL
===================================

declare @x int;
set @x = 8
select @x=30
select @x

select * from employees where




create function fa(@x int, @y int)
returns int
as
begin
return @x+@y
end

select dbo.fa(2,3)

-------------
use dataanalyst








create table family_members(id int, name varchar(20), earnings_per_month int)

insert into family_members values (1, 'gowtham', 50000),
(2, 'harshini', 74000), (3, 'balu', 45000),
(4, 'gowramma', 3000), (5, 'ravesh', 12000), (6, 'eswari', 5000)
--Q) Return The Percentage of earnings Contributed by The top 2 highest earners in the family.

select * from family_members

with cte as(
select top 2 * from family_members order by earnings_per_month desc )
select sum(earnings_per_month) *100.0 / (select sum(earnings_per_month) from
family_members) from cte

with cte as(
select *, dense_rank() over(order by earnings_per_month desc) drnk from family_members)
,cte1 as(
select id, name, earnings_per_month from cte where drnk <=2 )
select sum(earnings_per_month) *100.0 / (select sum(earnings_per_month) from
family_members ) from cte1

1,2,3 ==> 20000
4 ==> 18000














select * from employee_details

with cte as(


select * from (
select *, rank() over(partition by department order by age desc) as rnk from
employee_details )a where a.rnk =1somethingsomethingsomethingsomethingcreate table mahi(id int, name varchar(20))create table mahi(id int, name varchar(20))
create table mahi(id int, name varchar(20))

In [40]:
data = {'name': ['mahendra', 'mahi'], 'age': [20, 50]}

In [2]:
import pandas as pd

In [44]:
df=pd.DataFrame(data)

In [45]:
df

       name  age
0  mahendra   20
1      mahi   50

In [55]:
df.to_csv(r"C:\Users\mahen\Desktop\python\data.xlsx")

In [71]:
try:
    a= open(r'C:\Users\mahen\Desktop\python\data.xlsx', 'r')
#     print(a.read())
except FileNotFoundError:
    print('file not found')
except Exception as e:
    print(f'error occured due to {e}')
except:
    print('file not found error')
else:
    print('file exists')
    print(a.read())
finally:
    print('code executed successfully')

file exists
,name,age
0,mahendra,20
1,mahi,50

code executed successfully

In [112]:
try:
    result =int('mahendra')
#         print(result)
except ValueError:
    print('value mismatiching')
except TypeError:
    print('error ah')
except Exception as e:
    print(f'error occured{e}')
except:
    print('error')

value mismatiching

In [135]:
def f(x,y):
    try:
        result= x/y
    except TypeError:
        print('type error')
    except ValueError:
        print('value error')
    except Exception as e:
        print(f'error occured {e}')
    except:
        print('error')

In [137]:
f(9, 0)

error occured division by zero

In [125]:
def f(x,y):
    print(x/y)

In [126]:
f(4,5)

0.8

In [122]:
f(4,'mahi')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [161]:
def f(x,y):
    result = x/y
    print(result)

In [166]:
try:
    print(f(5,int('mahi')))
except ValueError:
    print('value error')
except TypeError:
    print('type error')
except ZeroDivisionError:
    print('zero division error occured')
except Exception as e:
    print(e)

value error

In [156]:
f(6,7)

0.8571428571428571

In [157]:
f(3,8)

0.375

In [167]:
# deposti, withdraw

In [272]:
class Account:
    name = 'SBI'
    def deposit(self, amount):
        self.y += amount
        print(f'{amount} is deposited, the current balance is :{self.y}')
    def withdrawl(self, amount):
        if self.y >= amount:
            self.y -= amount
            print(f'withdrawl the amount {amount}, the current balance is {self.y}')
        else:
            print('insufficient balance')

In [273]:
maha = Account()

In [274]:
maha.name

'mahendra'

In [259]:
maha.withdrawl(3000)

withdrawl the amount 3000, the current balance is 1000

In [254]:
mahi=Account('mahi', 50000, 'USA')
mahendra = Account('mahendra', 40000, 'India')

In [256]:
mahendra.withdrawl(20000)

withdrawl the amount 20000, the current balance is 20000

In [248]:
mahi.x

'mahi'

In [249]:
mahi.deposit(3300)

3300 is deposited, the current balance is :53300

In [250]:
mahendra.deposit(2000)

2000 is deposited, the current balance is :42000

In [235]:
b.x

'mahra'

In [236]:
b.deposit(7000)

7000 is deposited, the current balance is :57000

In [212]:
b.name

'mahra'

In [213]:
b.deposit(3000)

3000 is deposited, the current balance is :53000

In [214]:
h=Account('sindhu', 60000)

In [219]:
h.deposit(6000)

6000 is deposited, the current balance is :66000

In [216]:
print(type(h))

<class '__main__.Account'>

In [217]:
dir(h)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'balance',
 'deposit',
 'name']

In [ ]:
h.namea

In [195]:
a=Account('mahendra', 20000)

In [182]:
a.name

'mahendra'

In [183]:
a.balance

20000

In [263]:
class car:
    def __init__(self, color, brand):
        self.color = color
        self.brand = brand
    def speed(self):
        print('this car has unlimited speed')

In [264]:
obj = car('black', 'A')

In [265]:
obj.color

'black'

In [266]:
obj.brand

'A'

In [267]:
b=car('white', 'B')

In [268]:
b.color

'white'

In [269]:
b.brand

'B'

In [270]:
b.speed()

this car has unlimited speed

In [46]:
class A:
    _name = 'amehndra'
    def move(self):
        print(f'{self._name} is moving')
class B(A):
    def move1(self):
        print(self._name)

In [50]:
ax = B()

In [52]:
a=A()

In [53]:
a.move()

amehndra is moving

In [54]:
ax.move1()

amehndra

In [55]:
a._name

'amehndra'

In [56]:
ax._name

'amehndra'

In [ ]:
1---> name = 'mahendra'

name = 'mahi'
80 
100---> funtion

In [21]:
acc_holder_name = 'mahi'
balance = 50000

def deposit(amount):
    global balance
    balance += amount
    print(f'{amount} is deposited, the current balance is :{balance}')

In [22]:
deposit(8000)

8000 is deposited, the current balance is :58000

In [23]:
def withdrawl(amount):
#     balance =40000
    global balance
    if balance >= amount:
        balance -= amount
        print(f'withdrawl the amount {amount}, the current balance is {balance}')
    else:
        print('insufficient balance')

In [24]:
withdrawl(3000)

withdrawl the amount 3000, the current balance is 55000

In [ ]:
# class ==> blue print ===> car===> color, brand, shape, .............

In [25]:
a=9

In [26]:
print(a)

9

In [27]:
print(type(a))

<class 'int'>

In [28]:
type(a)

int

In [29]:
b=20
print(type(b))

<class 'int'>

In [38]:
class Car:
    name = 'tatacaars'
    brand = 'tata'
    def speed(self):
        print('speed is 100km')

In [39]:
a=Car()

In [40]:
b=Car()

In [41]:
a.name

'tatacaars'

In [42]:
b.name

'tatacaars'

In [43]:
a.speed()

speed is 100km

In [66]:
class Car:
    def __init__(self, name='bola', brand='B', color='white'):
        self.name = name
        self.brand = brand
        self.color = color
    def speed(self):
        print('speed is 100km/h')

In [67]:
car1=Car('Tata', 'A', 'black')

In [68]:
car2 = Car()

In [71]:
print(f'{car2.name} {car2.color}  {car2.brand}')

bola white  B

In [58]:
print(car1)

<__main__.Car object at 0x0000010F393DB850>

In [59]:
type(car1)

__main__.Car

In [60]:
car1.name

'Tata'

In [61]:
car1.x

AttributeError: 'Car' object has no attribute 'x'

In [62]:
car1.y

AttributeError: 'Car' object has no attribute 'y'

In [63]:
car1.z

AttributeError: 'Car' object has no attribute 'z'

In [64]:
car1.brand

'A'

In [65]:
car1.color

'black'

In [114]:
class Account:
    bank = 'SBI'
    def __init__(self, acc_num, balance, location):
        self.acc_number = acc_num
        self.bal = balance
        self.loc = location
    def deposit(self, amount):
        self.bal += amount
        print(f'{amount} is deposited and the current balance is {self.bal}')
    def withdrawl(self, amount):
        if self.bal >= amount:
            self.bal -= amount
            print(f'{amount} is withdrwal from your account and the current balance is {self.bal} from {Account.bank}')
        else:
            print('insufficient balance')

In [115]:
mahi.bank

'SBI'

In [116]:
mahi = Account(1111, 20000, 'India')

In [117]:
mahi.deposit(1200)

1200 is deposited and the current balance is 21200

In [118]:
mahi.withdrawl(3000)

3000 is withdrwal from your account and the current balance is 18200 from SBI

In [85]:
mahendra = Account(22222, 40000, 'India')

In [87]:
mahendra.acc_number

22222

In [88]:
mahendra.loc

'India'

In [89]:
mahendra.deposit(3000)

3000 is deposited and the current balance is 43000

In [103]:
mahi= Account(4444, 77777, 'India')

In [104]:
mahi.bank

'SBI'

In [144]:
class Student:
    def __init__(self, name, marks):
        self.x = name
        self.y = marks
    def average_marks(self):
        sum = 0
        for i in range(len(self.y)):
            sum+=self.y[i]
        return sum/len(self.y)
    def printing(self):
        print('the average marks is printed')

In [145]:
a = Student('mahindra', [40, 50, 50, 40, 28, 20])

In [146]:
a.x

'mahindra'

In [147]:
a.y

[40, 50, 50, 40, 28, 20]

In [148]:
a.average_marks()

38.0

In [149]:
a.printing()

the average marks is printed

In [177]:
son = Son()
mother = Mother()

In [162]:
son.name1

'son'

In [163]:
mother.name

'amma'

In [165]:
son.age1

45

In [166]:
mother.age

90

In [172]:
son.method()

method

In [173]:
son.age

90

In [174]:
son.name

'amma'

In [178]:
mother.age1

45

In [21]:
son = Son('mahendra', 30)

In [22]:
son = Son('mahi', 45)

In [23]:
son.name

'mahi'

In [24]:
son2 = Son('mahendra', 40)

In [25]:
mother = Mother('amma', 60)

In [26]:
mother.method()

method

In [27]:
son.method1()

method1

In [28]:
son.method()

method

In [29]:
son.name

'mahi'

In [30]:
son = Son('mahi', 40)

In [31]:
son.name

'mahi'

In [32]:
son.age

40

In [33]:
son.name1

'mahi'

In [34]:
son.age1

40

In [35]:
son = Mother('mahendra', 30)

In [36]:
son.name

'mahendra'

In [37]:
son.age

30

In [38]:
son.name1

AttributeError: 'Mother' object has no attribute 'name1'

In [13]:
class Mother:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def method(self):
        print('method')
        print(f'{self.name}')
class Son(Mother):
    def __init__(self, name, age):
        self.name1 = 'son'
        self.age1 = 45
    def method1(self):
        print('method1')

In [14]:
mother1 = Mother('ammma', 30)
mother2 = Mother('ammamma', 88)

In [15]:
mother1.name

'amma'

In [18]:
mother1.method()

method
samala

In [17]:
mother1.name = 'samala'

In [22]:
c = Son('mahendra', 22)

In [24]:
c.name1='mahi'

In [25]:
c.name1

'mahi'

# Multi level  inheritance

In [78]:
class Mother:
    bank = 'SBI'
    def __init__(self, name, age):
        self.name = 'ma'
        self.age = 50
#         self.bank = 'Something'
    def method(self):
        print('method')
class Son(Mother):
    def __init__(self, name, age):
#         super().__init__(name='amma', age=87)
        Mother.__init__(self, name, age)
        self.name1 = name
        self.age1 = age
        self.bank = 'Axis'
    def method1(self):
#         bank = 'HDFC'
        super().method()
        print('method1')
        print(self.bank)
#         print(bank)

In [79]:
a=Son('mahendra', 30)

In [80]:
a.method1()

method
method1
Axis

In [55]:
a.method()

method

In [51]:
print(a.name)
print(a.age)

ma
50

In [38]:
a.name1

'mahendra'

In [39]:
a.age1

30

In [40]:
a.method1()

method1

In [41]:
a.name

'mahendra'

In [42]:
a.age

30

In [105]:
class Mother:
    bank = 'SBI'
    def __init__(self, name, age):
        self.name = name
        self.age = 50
#         self.bank = 'Something'
    def method(self):
        print('method')
class Son(Mother):
    def __init__(self, name, age):
#         super().__init__(name='amma', age=87)
#         Mother.__init__(self, name='ammamma', age=77)
        self.name1 = name
        self.age1 = age
        self.bank = 'Axis'
    def method1(self):
#         bank = 'HDFC'
        super().method()
        print('method1')
        print(self.bank)
#         print(bank)
class Child(Son):
    def __init__(self, name, age):
        super().__init__(name='mahi', age=67)
        self.name2 = name
        self.age2 = age
    def method2(self):
        super().method1()
        print('method2')

In [106]:
c = Child('mahendra', 30)

In [107]:
c.name

'ammamma'

In [108]:
c.age

50

In [91]:
c.name2

'mahendra'

In [92]:
c.age2

30

In [93]:
c.method()

method

In [94]:
c.method2()

method
method1
SBI
method2

In [95]:
c.method1()

method
method1
SBI

# Multiple Inheritance

In [130]:
class Mother:
    def __init__(self):
        self.name='amma'
        self.age = 87
    def method(self):
        print('method')
class Father:
    def __init__(self):
        self.name1= 'dad'
        self.age1 = 89
    def method1(self):
        print('method1')
class Child(Mother, Father):
    def __init__(self):
        Father.__init__(self)
        Mother.__init__(self)
        self.name2 = 'son'
        self.age2 = 34
    def method2(self):
        print('method2')

In [131]:
c = Child()

In [132]:
c.name

'amma'

In [133]:
c.age

87

In [117]:
c.name2

'son'

In [118]:
c.age2

34

In [120]:
c.method2()

method2

In [121]:
c.method()

method

In [124]:
c.method1()

method1

# Hierarchicle inheritance

In [176]:
class Mother:
    def __init__(self):
        self.age = 55
        self.name = 'mma'
        self.salary = 9989
        print('something')
    def method(self):
        print('mother class method')
class child1(Mother):
    def __init__(self):
        self.name1 = 'gowtham'
        self.age1 = 50
    def method1(self):
        if self.age>40:
            print('old')
        else:
            print('young')
class child2(Mother):
    def __init__(self):
#         Mother.__init__(self, name='amma', age=78, salary=88777)
        super().__init__()
        self.name2 = 'sam'
        self.age2 = 45
    def method2(self):
        super().method()
        print(f'{self.name2}s age is:{self.age2}')
        print(f'{self.name}s age is:{self.age}')

In [177]:
a= child2()

something

In [178]:
a.method2()

mother class method
sams age is:45
mmas age is:55

In [142]:
a = Mother('maha', 78, 8888)

something

In [143]:
a.name

'maha'

In [144]:
a.age

78

In [145]:
a.salary

8888

In [180]:
class A:
    def __init__(self):
        self.name = 'A'
    def method(self):
        print('A class method')
class B(A):
    def __init__(self):
        self.name = 'B'
    def method1(self):
        print('B class method')
class C:
    def __init__(self):
        self.name = 'C'
    def method2(self):
        print('class C method')
class D(B, C):
    def __init__(self):
        self.name = 'D'
    def method(self):
        print('Class D method')

# Encapsulation

In [26]:
# Access specifiers ==> public, private, protected

In [140]:
class Mother:
    def __init__(self, name, age, name1, age1):
        self.name = name #public accessed data
        self.age = age
        self._name = name1 #protected
        self._age = age1
        self.__name=name
        self.__age = age
        print('creating the data for objects')
    def get_method(self):
        return __method1()
    def set_method(self, name):
        self.__name = name
    def method(self):
        print(f'{self.__name}, {self.__age}')
class Son(Mother):
    def __init__(self, name, age):
        super().__init__(name='mahi', age=87, name1='mahanana', age1=66)
        self.age1 = age
        self.name1=name
        self.__name2 = 'something'
    def method(self):
        print('method')
        print(f'{self.__name2}')

In [141]:
son = Son('mahi', 20)

creating the data for objects

In [145]:
son.age

87

In [143]:
son.method()

method
something

In [110]:
a= Mother('hema', 55)

creating the data for objects

In [111]:
a.get_method()

NameError: name '_Mother__method1' is not defined

In [102]:
a.__method1()

AttributeError: 'Mother' object has no attribute '__method1'

In [99]:
a.get_method()

'maha'

In [91]:
a.__name

AttributeError: 'Mother' object has no attribute '__name'

In [98]:
a.set_method('maha')

In [65]:
a.age

AttributeError: 'Mother' object has no attribute 'age'

In [66]:
a._name

AttributeError: 'Mother' object has no attribute '_name'

In [67]:
a._age

AttributeError: 'Mother' object has no attribute '_age'

In [68]:
a.__name

AttributeError: 'Mother' object has no attribute '__name'

In [69]:
a.__age

AttributeError: 'Mother' object has no attribute '__age'

In [70]:
a.method()

hema, 55

In [71]:
a._Mother.__name

AttributeError: 'Mother' object has no attribute '_Mother'

In [73]:
a.__name = 'mahi'

In [74]:
a.__name

'mahi'

In [146]:
print(40 + 88)

128

In [147]:
print('40' + '88')

4088

In [148]:
len('mahendra')

8

In [149]:
len(['mahendra'])

1

In [150]:
type('mahendra')

str

In [151]:
type(['ameaha'])

list

In [175]:
class Teacher:
    def __init__(self, name, age, teaching_style):
        self.name = name
        self.age= age
        self.c = teaching_style
    def performance(self):
        if self.age > 55:
            print('old')
        else:
            print('young')
class Student(Teacher):
    def __init__(self, name, marks, ex_act):
        super().__init__(name = 'ma', age = 88, teaching_style = 'good')
        self.a = name
        self.b = marks
        self.c = ex_act
    def performance(self):
        print(f'{self.a} performing well in {self.c} and getting {self.b}')

In [176]:
s = Student('mahendra', 88, 'cricket')

In [178]:
s.performance1()

mahendra performing well in cricket and getting 88

In [212]:
class boy:
    def __init__(self, age=99, score=77):
        self.a = age
        self.b = score
    def method(self, age = 388, score=88):
        return age + score
    def method(self):
        print('method')

In [213]:
b = boy()

In [214]:
b.method()

method

In [215]:
b = boy(2,3)

In [216]:
b.method(8)

TypeError: boy.method() takes 1 positional argument but 2 were given

In [217]:
b.method(4,5)

TypeError: boy.method() takes 1 positional argument but 3 were given

In [218]:
b.method()

method