In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('sample').getOrCreate()

In [ ]:
data=[(1,'mahendra','IT',40000),
      (2,'mahi','Data',30000),
      (3,'sam','Data',20000),
      (4,'teja','software',50000)]

In [ ]:
cols = ['Id','Name','Department','salary']

In [ ]:
df=spark.createDataFrame(data,cols)

In [ ]:
df.show()

+---+--------+----------+------+
| Id|    Name|Department|salary|
+---+--------+----------+------+
|  1|mahendra|        IT| 40000|
|  2|    mahi|      Data| 30000|
|  3|     sam|      Data| 20000|
|  4|    teja|  software| 50000|
+---+--------+----------+------+

In [ ]:
from pyspark.sql import types
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import window

In [ ]:
orders = spark.read.csv('dbfs:/FileStore/Orders.csv',header = True, inferSchema=True)

In [ ]:
orders.show()

+------------+------------+------------+------------------------+-------------------+-------------------------+-----------------------------+
|    order_id| customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_timestamp|order_estimated_delivery_date|
+------------+------------+------------+------------------------+-------------------+-------------------------+-----------------------------+
|Axfy13Hk4PIk|hCT0x9JiGXBQ|   delivered|     2017-10-22 18:57:54|2017-10-22 19:14:13|      2017-10-26 22:19:52|                   2017-11-09|
|v6px92oS8cLG|PxA7fv9spyhx|   delivered|     2018-06-20 21:40:31|2018-06-20 22:20:20|      2018-07-03 22:51:22|                   2018-07-24|
|Ulpf9skrhjfm|g3nXeJkGI0Qw|   delivered|     2018-02-16 16:19:31|2018-02-17 16:15:35|      2018-02-27 01:29:50|                   2018-03-08|
|bwJVWupf2keN|EOEsCQ6QlpIg|   delivered|     2018-08-18 18:04:29|2018-08-18 18:15:16|      2018-08-27 20:03:51|                   2018-09-19|
|Dd0QnrMk9Cj5|mVz5LO2Vd6cL|   delivered|     2017-12-22 16:44:04|2017-12-22 17:31:31|      2018-01-05 19:22:49|                   2018-01-18|
|VjTVGzqe8U6R|UkqnhxmX7YMP|   delivered|     2017-09-01 14:38:16|2017-09-01 14:50:24|      2017-09-15 18:57:50|                   2017-09-26|
|xNba906m4TM1|85jiDiGSfhTu|   delivered|     2018-04-23 21:03:00|2018-04-24 18:18:18|      2018-04-25 20:14:38|                   2018-05-04|
|VEDSMTavbQwk|gDdkaN8b9s1g|   delivered|     2018-02-23 14:49:39|2018-02-23 15:16:13|      2018-04-02 14:12:50|                   2018-03-15|
|DzNM8wrcMGFH|9Csx6oXlpLl1|   delivered|     2017-11-24 19:12:37|2017-11-25 04:54:03|      2017-12-11 13:09:32|                   2017-12-14|
|NpJz7zF9U1ae|gZTPKLPRnreg|   delivered|     2017-11-30 11:48:21|2017-11-30 13:31:19|      2017-12-14 16:38:47|                   2018-01-03|
|mHyhzcUeLGj2|TDEBQrhIwApB|   delivered|     2018-04-02 22:39:59|2018-04-03 22:35:18|      2018-04-13 18:12:30|                   2018-04-23|
|StM5K4TLyrt5|1k71TCYNFCzj|   delivered|     2018-05-30 09:25:25|2018-05-30 09:35:16|      2018-06-21 18:22:15|                   2018-07-05|
|Q97dFuo1kaq9|IfWKDQHkjLDd|   delivered|     2018-04-10 00:17:56|2018-04-10 00:35:11|      2018-04-20 18:03:58|                   2018-05-04|
|07j6mlMhSVtx|kZ0rkJCJ6N5y|   delivered|     2018-05-02 22:52:10|2018-05-03 00:13:21|      2018-05-09 23:48:32|                   2018-05-18|
|kxa1InBj9gwP|zsCKIdqYLV01|   delivered|     2017-04-24 20:06:41|2017-04-24 20:22:24|      2017-05-05 10:22:27|                   2017-05-25|
|P5R6jr1qZdh4|FrEvnEiMKGpr|    canceled|     2017-07-24 11:38:43|2017-07-24 11:50:18|                     null|                   2017-08-07|
|HqV5f8K2UYoA|3zvaY9gUH9bO|   delivered|     2018-06-15 15:44:21|2018-06-15 16:00:22|      2018-06-25 22:27:56|                   2018-07-11|
|j5rwgECNf14O|bUornDCZmRD4|   delivered|     2018-03-15 11:13:23|2018-03-15 11:29:14|      2018-04-09 18:54:36|                   2018-04-03|
|43It0OEHVyJe|qEVfsXFU3er9|   delivered|     2017-03-05 16:10:01|2017-03-05 16:25:11|      2017-04-18 15:28:21|                   2017-04-06|
|ddXx4T93MeaI|mPg90mQwmDOP|   delivered|     2017-10-03 12:58:11|2017-10-03 13:07:28|      2017-10-09 14:06:32|                   2017-10-30|
+------------+------------+------------+------------------------+-------------------+-------------------------+-----------------------------+
only showing top 20 rows

In [ ]:
orders.head()

Out[14]: Row(order_id='Axfy13Hk4PIk', customer_id='hCT0x9JiGXBQ', order_status='delivered', order_purchase_timestamp=datetime.datetime(2017, 10, 22, 18, 57, 54), order_approved_at=datetime.datetime(2017, 10, 22, 19, 14, 13), order_delivered_timestamp=datetime.datetime(2017, 10, 26, 22, 19, 52), order_estimated_delivery_date=datetime.date(2017, 11, 9))

In [ ]:
orders.tail(5)

Out[16]: [Row(order_id='zlcLnXGgAabl', customer_id='bfJtzkBGksdY', order_status='delivered', order_purchase_timestamp=datetime.datetime(2018, 8, 19, 17, 25, 36), order_approved_at=datetime.datetime(2018, 8, 21, 4, 35, 30), order_delivered_timestamp=datetime.datetime(2018, 8, 30, 14, 47, 46), order_estimated_delivery_date=datetime.date(2018, 9, 4)),
 Row(order_id='IlTAoIkILwrq', customer_id='4hjsCpj6FC7g', order_status='delivered', order_purchase_timestamp=datetime.datetime(2017, 12, 15, 11, 20, 27), order_approved_at=datetime.datetime(2017, 12, 16, 2, 37, 32), order_delivered_timestamp=datetime.datetime(2017, 12, 20, 19, 23, 40), order_estimated_delivery_date=datetime.date(2018, 1, 4)),
 Row(order_id='uA6oXfftGVmT', customer_id='DLn56oKHl9bv', order_status='delivered', order_purchase_timestamp=datetime.datetime(2018, 7, 24, 6, 39, 14), order_approved_at=datetime.datetime(2018, 7, 24, 11, 20, 39), order_delivered_timestamp=datetime.datetime(2018, 7, 27, 1, 41, 40), order_estimated_delivery_date=datetime.date(2018, 8, 1)),
 Row(order_id='v3QtU6xlGDJp', customer_id='auSfRYUQUOIq', order_status='delivered', order_purchase_timestamp=datetime.datetime(2018, 8, 11, 8, 4, 22), order_approved_at=datetime.datetime(2018, 8, 11, 8, 24, 40), order_delivered_timestamp=datetime.datetime(2018, 8, 14, 21, 43, 51), order_estimated_delivery_date=datetime.date(2018, 8, 17)),
 Row(order_id='Xo1fqyXOC6CR', customer_id='rhevVNXYJnEs', order_status='delivered', order_purchase_timestamp=datetime.datetime(2018, 6, 9, 21, 46, 58), order_approved_at=datetime.datetime(2018, 6, 9, 22, 19), order_delivered_timestamp=datetime.datetime(2018, 6, 14, 15, 3, 46), order_estimated_delivery_date=datetime.date(2018, 7, 5))]

In [ ]:
orders.show()

+------------+------------+------------+------------------------+-------------------+-------------------------+-----------------------------+
|    order_id| customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_timestamp|order_estimated_delivery_date|
+------------+------------+------------+------------------------+-------------------+-------------------------+-----------------------------+
|Axfy13Hk4PIk|hCT0x9JiGXBQ|   delivered|     2017-10-22 18:57:54|2017-10-22 19:14:13|      2017-10-26 22:19:52|                   2017-11-09|
|v6px92oS8cLG|PxA7fv9spyhx|   delivered|     2018-06-20 21:40:31|2018-06-20 22:20:20|      2018-07-03 22:51:22|                   2018-07-24|
|Ulpf9skrhjfm|g3nXeJkGI0Qw|   delivered|     2018-02-16 16:19:31|2018-02-17 16:15:35|      2018-02-27 01:29:50|                   2018-03-08|
|bwJVWupf2keN|EOEsCQ6QlpIg|   delivered|     2018-08-18 18:04:29|2018-08-18 18:15:16|      2018-08-27 20:03:51|                   2018-09-19|
|Dd0QnrMk9Cj5|mVz5LO2Vd6cL|   delivered|     2017-12-22 16:44:04|2017-12-22 17:31:31|      2018-01-05 19:22:49|                   2018-01-18|
|VjTVGzqe8U6R|UkqnhxmX7YMP|   delivered|     2017-09-01 14:38:16|2017-09-01 14:50:24|      2017-09-15 18:57:50|                   2017-09-26|
|xNba906m4TM1|85jiDiGSfhTu|   delivered|     2018-04-23 21:03:00|2018-04-24 18:18:18|      2018-04-25 20:14:38|                   2018-05-04|
|VEDSMTavbQwk|gDdkaN8b9s1g|   delivered|     2018-02-23 14:49:39|2018-02-23 15:16:13|      2018-04-02 14:12:50|                   2018-03-15|
|DzNM8wrcMGFH|9Csx6oXlpLl1|   delivered|     2017-11-24 19:12:37|2017-11-25 04:54:03|      2017-12-11 13:09:32|                   2017-12-14|
|NpJz7zF9U1ae|gZTPKLPRnreg|   delivered|     2017-11-30 11:48:21|2017-11-30 13:31:19|      2017-12-14 16:38:47|                   2018-01-03|
|mHyhzcUeLGj2|TDEBQrhIwApB|   delivered|     2018-04-02 22:39:59|2018-04-03 22:35:18|      2018-04-13 18:12:30|                   2018-04-23|
|StM5K4TLyrt5|1k71TCYNFCzj|   delivered|     2018-05-30 09:25:25|2018-05-30 09:35:16|      2018-06-21 18:22:15|                   2018-07-05|
|Q97dFuo1kaq9|IfWKDQHkjLDd|   delivered|     2018-04-10 00:17:56|2018-04-10 00:35:11|      2018-04-20 18:03:58|                   2018-05-04|
|07j6mlMhSVtx|kZ0rkJCJ6N5y|   delivered|     2018-05-02 22:52:10|2018-05-03 00:13:21|      2018-05-09 23:48:32|                   2018-05-18|
|kxa1InBj9gwP|zsCKIdqYLV01|   delivered|     2017-04-24 20:06:41|2017-04-24 20:22:24|      2017-05-05 10:22:27|                   2017-05-25|
|P5R6jr1qZdh4|FrEvnEiMKGpr|    canceled|     2017-07-24 11:38:43|2017-07-24 11:50:18|                     null|                   2017-08-07|
|HqV5f8K2UYoA|3zvaY9gUH9bO|   delivered|     2018-06-15 15:44:21|2018-06-15 16:00:22|      2018-06-25 22:27:56|                   2018-07-11|
|j5rwgECNf14O|bUornDCZmRD4|   delivered|     2018-03-15 11:13:23|2018-03-15 11:29:14|      2018-04-09 18:54:36|                   2018-04-03|
|43It0OEHVyJe|qEVfsXFU3er9|   delivered|     2017-03-05 16:10:01|2017-03-05 16:25:11|      2017-04-18 15:28:21|                   2017-04-06|
|ddXx4T93MeaI|mPg90mQwmDOP|   delivered|     2017-10-03 12:58:11|2017-10-03 13:07:28|      2017-10-09 14:06:32|                   2017-10-30|
+------------+------------+------------+------------------------+-------------------+-------------------------+-----------------------------+
only showing top 20 rows

In [ ]:
customers = spark.read.csv("dbfs:/FileStore/Customers.csv",header=True, inferSchema=True)

In [ ]:
customers.show()

+------------+------------------------+------------------+--------------+
| customer_id|customer_zip_code_prefix|     customer_city|customer_state|
+------------+------------------------+------------------+--------------+
|hCT0x9JiGXBQ|                   58125|   varzea paulista|            SP|
|PxA7fv9spyhx|                    3112|armacao dos buzios|            RJ|
|g3nXeJkGI0Qw|                    4119|           jandira|            SP|
|EOEsCQ6QlpIg|                   18212|        uberlandia|            MG|
|mVz5LO2Vd6cL|                   88868|          ilhabela|            SP|
|UkqnhxmX7YMP|                   25902|       porto uniao|            SC|
|85jiDiGSfhTu|                    4762|         guarulhos|            SP|
|gDdkaN8b9s1g|                   75870|        mogi-guacu|            SP|
|9Csx6oXlpLl1|                   69068|         bebedouro|            SP|
|gZTPKLPRnreg|                   20921|         sao paulo|            SP|
|TDEBQrhIwApB|                    1223|         itaperuna|            RJ|
|1k71TCYNFCzj|                   11703|             serra|            ES|
|IfWKDQHkjLDd|                   32407|       sao goncalo|            RJ|
|kZ0rkJCJ6N5y|                   13843|   mogi das cruzes|            SP|
|zsCKIdqYLV01|                    2961|             caico|            RN|
|FrEvnEiMKGpr|                   28630|         sao paulo|            SP|
|3zvaY9gUH9bO|                   59020|       barra mansa|            RJ|
|bUornDCZmRD4|                    3440|         sao paulo|            SP|
|qEVfsXFU3er9|                    3936|             apora|            BA|
|mPg90mQwmDOP|                   85140|          brasilia|            DF|
+------------+------------------------+------------------+--------------+
only showing top 20 rows

In [ ]:
orders.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_approved_at: timestamp (nullable = true)
 |-- order_delivered_timestamp: timestamp (nullable = true)
 |-- order_estimated_delivery_date: date (nullable = true)

In [ ]:
customers.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

In [ ]:
df.printSchema()

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- salary: long (nullable = true)

In [ ]:
df.show()

+---+--------+----------+------+
| Id|    Name|Department|salary|
+---+--------+----------+------+
|  1|mahendra|        IT| 40000|
|  2|    mahi|      Data| 30000|
|  3|     sam|      Data| 20000|
|  4|    teja|  software| 50000|
+---+--------+----------+------+

In [ ]:
df=df.withColumn("mgr_id", col('Id') +1)

In [ ]:
df.show()

+---+--------+----------+------+------+
| Id|    Name|Department|salary|mgr_id|
+---+--------+----------+------+------+
|  1|mahendra|        IT| 40000|     2|
|  2|    mahi|      Data| 30000|     3|
|  3|     sam|      Data| 20000|     4|
|  4|    teja|  software| 50000|     5|
+---+--------+----------+------+------+

In [ ]:
df = df.withColumn("mgr_id", when(col("Id") == 4, 2).otherwise(col("mgr_id")))

In [ ]:
df.show()

+---+--------+----------+------+------+
| Id|    Name|Department|salary|mgr_id|
+---+--------+----------+------+------+
|  1|mahendra|        IT| 40000|     2|
|  2|    mahi|      Data| 30000|     3|
|  3|     sam|      Data| 20000|     4|
|  4|    teja|  software| 50000|     2|
+---+--------+----------+------+------+

In [ ]:
joined_data=df.join(df, 'mgr_id')

In [ ]:
joined_data.show()

+------+---+--------+----------+------+---+--------+----------+------+
|mgr_id| Id|    Name|Department|salary| Id|    Name|Department|salary|
+------+---+--------+----------+------+---+--------+----------+------+
|     2|  1|mahendra|        IT| 40000|  1|mahendra|        IT| 40000|
|     2|  1|mahendra|        IT| 40000|  4|    teja|  software| 50000|
|     2|  4|    teja|  software| 50000|  1|mahendra|        IT| 40000|
|     2|  4|    teja|  software| 50000|  4|    teja|  software| 50000|
|     3|  2|    mahi|      Data| 30000|  2|    mahi|      Data| 30000|
|     4|  3|     sam|      Data| 20000|  3|     sam|      Data| 20000|
+------+---+--------+----------+------+---+--------+----------+------+

In [ ]:
 joined_data = df.alias("employee").join(
    df.alias("manager"),
    col("employee.mgr_id") == col("manager.Id"),
    "inner").select(
        col('employee.Id').alias('employee_id'),
        col('employee.Name').alias('employee_name'),
        col('employee.salary').alias('salary'),
        col('manager.Name').alias('manger_name'),
        col('manager.salary').alias('mgr_salary')
    )

In [ ]:
joined_data.show()

+-----------+-------------+------+-----------+----------+
|employee_id|employee_name|salary|manger_name|mgr_salary|
+-----------+-------------+------+-----------+----------+
|          1|     mahendra| 40000|       mahi|     30000|
|          4|         teja| 50000|       mahi|     30000|
|          2|         mahi| 30000|        sam|     20000|
|          3|          sam| 20000|       teja|     50000|
+-----------+-------------+------+-----------+----------+

In [ ]:
cust_orders=orders.join(customers, 'customer_id', 'inner')

In [ ]:
cust_orders.show()

+------------+------------+------------+------------------------+-------------------+-------------------------+-----------------------------+------------------------+------------------+--------------+
| customer_id|    order_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_timestamp|order_estimated_delivery_date|customer_zip_code_prefix|     customer_city|customer_state|
+------------+------------+------------+------------------------+-------------------+-------------------------+-----------------------------+------------------------+------------------+--------------+
|hCT0x9JiGXBQ|Axfy13Hk4PIk|   delivered|     2017-10-22 18:57:54|2017-10-22 19:14:13|      2017-10-26 22:19:52|                   2017-11-09|                   58125|   varzea paulista|            SP|
|PxA7fv9spyhx|v6px92oS8cLG|   delivered|     2018-06-20 21:40:31|2018-06-20 22:20:20|      2018-07-03 22:51:22|                   2018-07-24|                    3112|armacao dos buzios|            RJ|
|g3nXeJkGI0Qw|Ulpf9skrhjfm|   delivered|     2018-02-16 16:19:31|2018-02-17 16:15:35|      2018-02-27 01:29:50|                   2018-03-08|                    4119|           jandira|            SP|
|EOEsCQ6QlpIg|bwJVWupf2keN|   delivered|     2018-08-18 18:04:29|2018-08-18 18:15:16|      2018-08-27 20:03:51|                   2018-09-19|                   18212|        uberlandia|            MG|
|mVz5LO2Vd6cL|Dd0QnrMk9Cj5|   delivered|     2017-12-22 16:44:04|2017-12-22 17:31:31|      2018-01-05 19:22:49|                   2018-01-18|                   88868|          ilhabela|            SP|
|UkqnhxmX7YMP|VjTVGzqe8U6R|   delivered|     2017-09-01 14:38:16|2017-09-01 14:50:24|      2017-09-15 18:57:50|                   2017-09-26|                   25902|       porto uniao|            SC|
|85jiDiGSfhTu|xNba906m4TM1|   delivered|     2018-04-23 21:03:00|2018-04-24 18:18:18|      2018-04-25 20:14:38|                   2018-05-04|                    4762|         guarulhos|            SP|
|gDdkaN8b9s1g|VEDSMTavbQwk|   delivered|     2018-02-23 14:49:39|2018-02-23 15:16:13|      2018-04-02 14:12:50|                   2018-03-15|                   75870|        mogi-guacu|            SP|
|9Csx6oXlpLl1|DzNM8wrcMGFH|   delivered|     2017-11-24 19:12:37|2017-11-25 04:54:03|      2017-12-11 13:09:32|                   2017-12-14|                   69068|         bebedouro|            SP|
|gZTPKLPRnreg|NpJz7zF9U1ae|   delivered|     2017-11-30 11:48:21|2017-11-30 13:31:19|      2017-12-14 16:38:47|                   2018-01-03|                   20921|         sao paulo|            SP|
|TDEBQrhIwApB|mHyhzcUeLGj2|   delivered|     2018-04-02 22:39:59|2018-04-03 22:35:18|      2018-04-13 18:12:30|                   2018-04-23|                    1223|         itaperuna|            RJ|
|1k71TCYNFCzj|StM5K4TLyrt5|   delivered|     2018-05-30 09:25:25|2018-05-30 09:35:16|      2018-06-21 18:22:15|                   2018-07-05|                   11703|             serra|            ES|
|IfWKDQHkjLDd|Q97dFuo1kaq9|   delivered|     2018-04-10 00:17:56|2018-04-10 00:35:11|      2018-04-20 18:03:58|                   2018-05-04|                   32407|       sao goncalo|            RJ|
|kZ0rkJCJ6N5y|07j6mlMhSVtx|   delivered|     2018-05-02 22:52:10|2018-05-03 00:13:21|      2018-05-09 23:48:32|                   2018-05-18|                   13843|   mogi das cruzes|            SP|
|zsCKIdqYLV01|kxa1InBj9gwP|   delivered|     2017-04-24 20:06:41|2017-04-24 20:22:24|      2017-05-05 10:22:27|                   2017-05-25|                    2961|             caico|            RN|
|FrEvnEiMKGpr|P5R6jr1qZdh4|    canceled|     2017-07-24 11:38:43|2017-07-24 11:50:18|                     null|                   2017-08-07|                   28630|         sao paulo|            SP|
|3zvaY9gUH9bO|HqV5f8K2UYoA|   delivered|     2018-06-15 15:44:21|2018-06-15 16:00:22|      2018-06-25 22:27:56|                   2018-07-11|                   59020|       barra mansa|            RJ|
|bUornDCZmRD4|j5rwgECNf14O|   delivered|     2018-03-15 11:13:23|2018-03-15 11:29:14|      2018-04-09 18:54:36|                   2018-04-03|                    3440|         sao paulo|            SP|
|qEVfsXFU3er9|43It0OEHVyJe|   delivered|     2017-03-05 16:10:01|2017-03-05 16:25:11|      2017-04-18 15:28:21|                   2017-04-06|                    3936|             apora|            BA|
|mPg90mQwmDOP|ddXx4T93MeaI|   delivered|     2017-10-03 12:58:11|2017-10-03 13:07:28|      2017-10-09 14:06:32|                   2017-10-30|                   85140|          brasilia|            DF|
+------------+------------+------------+------------------------+-------------------+-------------------------+-----------------------------+------------------------+------------------+--------------+
only showing top 20 rows

In [ ]:
cust_orders.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_approved_at: timestamp (nullable = true)
 |-- order_delivered_timestamp: timestamp (nullable = true)
 |-- order_estimated_delivery_date: date (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

In [ ]:
cust_orders.count()

Out[67]: 89316

In [ ]:
len(cust_orders.columns)

Out[71]: 10

In [ ]:
joined_data.where(joined_data['salary']>joined_data['mgr_salary']).show()

+-----------+-------------+------+-----------+----------+
|employee_id|employee_name|salary|manger_name|mgr_salary|
+-----------+-------------+------+-----------+----------+
|          1|     mahendra| 40000|       mahi|     30000|
|          4|         teja| 50000|       mahi|     30000|
|          2|         mahi| 30000|        sam|     20000|
+-----------+-------------+------+-----------+----------+

In [ ]:
df.groupby('department').agg(sum('salary').alias('total_salary'),count('Id').alias('number_of_people'), avg('salary').alias('average_salary')).show()

+----------+------------+----------------+--------------+
|department|total_salary|number_of_people|average_salary|
+----------+------------+----------------+--------------+
|        IT|       40000|               1|       40000.0|
|      Data|       50000|               2|       25000.0|
|  software|       50000|               1|       50000.0|
+----------+------------+----------------+--------------+

In [ ]:
df.withColumn('salary_increment', col('salary')*1.2).show()

+---+--------+----------+------+------+----------------+
| Id|    Name|Department|salary|mgr_id|salary_increment|
+---+--------+----------+------+------+----------------+
|  1|mahendra|        IT| 40000|     2|         48000.0|
|  2|    mahi|      Data| 30000|     3|         36000.0|
|  3|     sam|      Data| 20000|     4|         24000.0|
|  4|    teja|  software| 50000|     2|         60000.0|
+---+--------+----------+------+------+----------------+

In [ ]:

df.withColumn('age', lit(2024-2000)).show()

+---+--------+----------+------+------+---+
| Id|    Name|Department|salary|mgr_id|age|
+---+--------+----------+------+------+---+
|  1|mahendra|        IT| 40000|     2| 24|
|  2|    mahi|      Data| 30000|     3| 24|
|  3|     sam|      Data| 20000|     4| 24|
|  4|    teja|  software| 50000|     2| 24|
+---+--------+----------+------+------+---+

In [ ]:
df.select('Id','Name','Department').show()

+---+--------+----------+
| Id|    Name|Department|
+---+--------+----------+
|  1|mahendra|        IT|
|  2|    mahi|      Data|
|  3|     sam|      Data|
|  4|    teja|  software|
+---+--------+----------+

In [ ]:
df.filter(df.Department == 'IT').show()

+---+--------+----------+------+------+
| Id|    Name|Department|salary|mgr_id|
+---+--------+----------+------+------+
|  1|mahendra|        IT| 40000|     2|
+---+--------+----------+------+------+

In [ ]:
df.withColumnRenamed("Id",'employee_id').show()

+-----------+--------+----------+------+------+
|employee_id|    Name|Department|salary|mgr_id|
+-----------+--------+----------+------+------+
|          1|mahendra|        IT| 40000|     2|
|          2|    mahi|      Data| 30000|     3|
|          3|     sam|      Data| 20000|     4|
|          4|    teja|  software| 50000|     2|
+-----------+--------+----------+------+------+

In [ ]:
df.show()

+---+--------+----------+------+------+
| Id|    Name|Department|salary|mgr_id|
+---+--------+----------+------+------+
|  1|mahendra|        IT| 40000|     2|
|  2|    mahi|      Data| 30000|     3|
|  3|     sam|      Data| 20000|     4|
|  4|    teja|  software| 50000|     2|
+---+--------+----------+------+------+

In [ ]:
df.createOrReplaceTempView('employees')

In [ ]:
%sql
select * from employees

Id,Name,Department,salary,mgr_id
1,mahendra,IT,40000,2
2,mahi,Data,30000,3
3,sam,Data,20000,4
4,teja,software,50000,2